[2016-01-06 14:30] hennande opened #1 "output is not json format"
Thanks for the release,

But when I run "./infobox.py University_of_Cambridge", the output contains 631 lines and is not in json format. Does this problem occurs on your computer?

[2016-01-06 19:01] #1 closed

[2016-01-06 19:02] siznax commented on #1
This problem resulted from not checking if the value found from the template part was None before trying to get the text. In `University_of_Cambridge`, the "website" part of the infobox template contains another template (but no bare text) as its first value, so lxml returned NoneType.

[code]

Commit a1ec305bcf7db51e6b757ebe5299cdf50ec717de improved error-handling:

[code]

Commit e077cc93d3eb0db

[2016-01-07 03:23] hennande commented on #1
Thanks for the solution

[2016-01-25 00:37] siznax opened #2 "Not compatible with python3"
Open to pull-requests for this... :octocat:

[2016-07-01 23:02] siznax opened #3 "No-lead text output probably double-encoded"
[code]

Okay with -l (lead) option:

[code]

[2016-08-03 00:04] siznax opened #4 "Scripts/ not distributed with PyPi"
Oh, Python Packaging, you hot mess you.

Suggestions welcome.

[2016-08-03 00:33] siznax opened #5 "Ensure compliance with MediaWiki API:Client code/Gold standard"
See https://www.mediawiki.org/wiki/API:Client_code/Gold_standard

[2016-08-03 00:59] siznax commented on #4
Ah, I see, just add the empty file `scripts/__init__.py` and that directory should get distributed. However, I don't know an easy way to get them on your shell path. Should probably consider making the methods so convenient as to make the scripts unnecessary. Next release...

[2016-08-03 06:32] 0x9900 commented on #4
__init__.py is not enough to distribute tools/scipts that you want to install.

https://github.com/siznax/wptools/pull/6

[2016-08-10 17:18] siznax commented on #4
Fixed with #6

[2016-08-10 17:18] #4 closed

[2016-08-12 23:38] siznax opened #7 "Implement "infobox as wikitext""
In some cases, it may be easier to parse than the JSON with stray template fragments.

[2016-08-16 00:14] #3 closed

[2016-08-16 19:56] siznax opened #8 "Handle API issues intelligently and consistently"
For example:

[code]

[2016-08-16 20:11] siznax opened #9 "Fix error on multibyte input to utils.media_url()"
Probably just need to ``encode('utf-8')`` and ``urllib.urlquote(url, safe=True)`` the input.

here's a the thumb source from the MediaWiki API:

[code]

and the traceback:

[code]

[2016-08-16 20:34] #9 closed

[2016-08-17 16:36] siznax opened #10 "Infobox templates should revert to wikitext"
Infobox output (e.g. ``wptools.infobox('Aardvark')``) is derived from the _parsetree_ in order to avoid string hacking wikitext, however, this can lead to values that do not appear to be the most useful:

[code]

I think a better result may be more like the original wikitext, e.g. ``wptools.wikitext('Aardvark')`` :

[code]

We can [expand this template](https://en.wikipedia.org/w/api.php?action=pa

[2016-08-17 17:04] siznax opened #11 "Consider high-level service class"
Currently, we do this:

[code]

Would it be worth it to make a service class, so we can do this?

[code]

The second request ("_HTTP request 2/2_") in the first block is not necessary, but the advantage of the second block would be that you can refer to the same object to access both the HTML and the text and there would be only one HTTP request.

Not all functions may work out this nicely though.

[2016-08-26 00:54] siznax commented on #11
Fixed in  0.1.0

[2016-08-26 00:54] #11 closed

[2016-08-26 00:54] siznax commented on #10
Fixed in 0.1.0

[2016-08-26 00:54] #10 closed

[2016-08-26 00:56] siznax commented on #8
Fixed in 0.1.0.

[2016-08-26 00:56] #8 closed

[2016-08-27 16:34] siznax commented on #7
Stray template fragment converted to wiki text in 0.1.0

[2016-08-27 16:34] #7 closed

[2016-08-30 05:01] siznax opened #12 "RESTBase /page/mobile-text/ missing some maths"
For example, in the ``Size functor`` article, the RESTBase ``/page/mobile-text/`` result is missing:

[code]

MediaWiki:API ``action=query``:

[code]

RESTBase ``/page/mobile-text/``:

[code]

[2016-08-31 12:51] commutecat opened #13 "Monkeypatch for python3 unicode"
For those who want to use wptools in python 3 after you clone the wptools and install local copy in your system.

core.py

[code]
Since python 3 move to str, it is difficult to make a patch that works for both python 2 and 3 for this particular unicode check.

Version check is kinda tricky.
[code]

[2016-09-02 04:27] siznax opened #14 "Figure out "best" image"
We get the following images from MediaWiki:API and Wikidata:

[code]

RESTBase ``/page/mobile-text`` also gives us a couple of images:

[code]

Spot-checking some articles, there were only conflicts with ``thumbnail``, where the RESTBase ``thumb`` was the scaled (larger) MediaWiki:API ``thumbnail``.

In the case of _Napoleon_, the Wikidata ``Image`` is a portrait (great!), while the ``get_query``

[2016-09-02 15:32] siznax commented on #13
Thanks @commutecat! I'll see if I can use this to get wptools working in both python 2 and 3.

[2016-09-02 15:32] siznax commented on #2
Progress on this is happening in #13

[2016-09-02 15:38] siznax commented on #14
A better way to organize these attributes may be...

[code]

[2016-09-02 22:46] siznax commented on #14
Mostly fixed with d5577c3: make images: {qimage, qthumb, rimage, rthumb, wimage}

[2016-09-02 22:46] #14 closed

[2016-09-04 23:39] siznax opened #15 "Implement category features"
- list category pages
- random page from category

https://www.mediawiki.org/wiki/API:Categorymembers

[2016-09-06 00:44] #13 closed

[2016-09-06 01:38] siznax commented on #2
Working through python3 modernization described here: https://docs.python.org/3/howto/pyporting.html

[2016-09-06 03:21] siznax commented on #2
After some pylint fixes c1192ce66f8352041277987613d4fdb664be9d02 the relevant blockers seem to be:

[code]

[2016-09-06 23:43] #2 closed

[2016-09-06 23:51] siznax commented on #2
The python3 fixes d979184f3135e353d1a4e93507b3a0be255c328d  needed were basically:

**wptools.core**:

[code]

**wptools.utils**:

[code]

Not too bad!

[2016-09-14 17:44] siznax opened #16 "get_rest() raises ValueError"
The following title:

[code]

causes an exception on get_rest():

[code]

[2016-09-14 17:45] #16 closed

[2016-09-15 15:01] siznax opened #17 "Ubuntu dependencies"
Email submission...

[2016-09-15 15:06] siznax commented on #17
Also, I recommend using [``virtualenv``](https://pypi.python.org/pypi/virtualenv) and [``virtualenvwrapper``](https://pypi.python.org/pypi/virtualenvwrapper/):

[code]

[2016-09-18 23:06] siznax opened #18 "Helper method to validate/resize image URLs"
Currently, we calculate image urls with `utils.media_url` and default `namespace='commons'` to save additional API calls. This results in an invalid path if the file is not in commons.

404 NOT FOUND:

200 OK:

We should offer a **helper method** to validate image paths using MediaWiki [API:Imageinfo](https://www.mediawiki.org/wiki/API:Imageinfo). If the the pages key is `-1` or has a `missing` me

[2016-09-20 16:50] siznax opened #19 "Support more wikis by allowing insecure requests"
Currently, all queries use HTTPS, so if you try a non-Wikimedia site, you may get an SSL error:

[code]

If we adjust the query to use 'http' instead of 'https':

[code]

Then we can access more MediaWiki instances...

[code]

[2016-09-20 17:58] aleksanh opened #20 "pycurl SSL certificate problem (on Windows)"
After installing via pip and start testing with:
import wptools

a = wptools.page('usa')

i always get:

en.wikipedia.org (action=query) USA
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Anaconda2\lib\site-packages\wptools\core.py", line 460, in get
    self.get_query(show=False)
  File "C:\Anaconda2\lib\site-packages\wptools\core.py", line 547, in get_query

[2016-09-20 18:55] siznax commented on #20
Hi @aleksanh, thanks for reporting this. This is happening because all of our MediaWiki API queries are using HTTPS and for some reason, on your system, pycurl is unable to verify. I pushed a patch (be69afc0b72957045a7aa36e11a6f43d8f8353df) and rolled a new rev ([0.1.7](https://pypi.python.org/pypi/wptools/0.1.7)) which uses [`python-cerifi`](https://github.com/certifi/python-certifi) to provide l

[2016-09-20 19:01] aleksanh commented on #20
Hi Steve and thanks for the quick replay.

it seems that the requiirments are not up to date ? se the stack trace:

  ** make sure the development packages of libxml2 and libxslt are
installed **

  Using build configuration of libxslt
  running bdist_wheel
  running build
  running build_py
  creating build
  creating build\lib.win-amd64-2.7
  creating build\lib.win-amd64-2.7\lxml
  copying src\l

[2016-09-20 19:13] siznax commented on #20
Hmm. @aleksanh, can you try with a fresh `virtualenv`?

[code]

[2016-09-20 19:17] aleksanh commented on #20
Hi @siznax , Do you have a windows equalient command for: $ mkvirtualenv wptools_test ?

[2016-09-20 19:18] siznax commented on #20
Hehe, how about https://pypi.python.org/pypi/virtualenvwrapper-win? Good luck!

[2016-09-20 19:24] aleksanh commented on #20
@siznax
$ mkvirtualenv wptools_test == Sucsses
how ever (wptools_test) C:\> pip install wptools == Same failure as above....

[2016-09-20 19:27] siznax commented on #20
Hmm. @aleksanh does this SO answer help you at all? http://stackoverflow.com/questions/33785755

[2016-09-20 19:37] aleksanh commented on #20
uhm @siznax se her http://www.lfd.uci.edu/~gohlke/pythonlibs/#lxml as it says in the text :
The binaries are compatible with the official CPython distribution on Windows >=6.0. Chances are they do not work with custom Python distributions included with Blender, Maya, ArcGIS, OSGeo4W, ABAQUS, Cygwin, Pythonxy, Canopy, EPD, Anaconda, WinPython etc. Many binaries are not compatible with Windows XP or

[2016-09-20 19:39] siznax commented on #20
Okay, good luck @aleksanh.

[2016-10-05 21:20] siznax commented on #20
No word on this from @aleksanh for a while, so closing as can't reproduce.

[2016-10-05 21:20] #20 closed

[2016-10-18 10:41] seansay opened #21 "feature request: query page by pageid?"
Hi,

I'm wondering can I query a page by pageid? From docs seems not

[2016-10-18 19:23] siznax commented on #21
Thanks for the question, @seansay. I added support for this (af7bbff74b10a154d69540812d1cc1b03c4cf437). It will work with `get_query` and `get_parse` directly, or via `get`:

[code]

You can check that result against the _Helianthus_ page's "Page Information" link: https://en.wikipedia.org/w/index.php?title=Helianthus&action=info which shows:

[code]

Can you give me an example of what you want to

[2016-10-18 21:11] #12 closed

[2016-10-18 21:11] #17 closed

[2016-10-19 06:39] seansay commented on #21
@siznax

I have a list of musician's name, I want to get its short bio and things. But I also want to update it since the page content edit by someone else, so I kind of think when you updating, using the last pageid it's more accurate?

That's how I think.

Thanks for responding this so fast, appreciate it

[2016-10-19 06:42] seansay commented on #21
Anyway, I still have the problem: how I can make sure the page I get (in the first time) is the person I want. That can be trikcy.

[2016-10-19 06:57] seansay commented on #21
after some reading on the docs, maybe `wikibase id` is more suitable for my use case?

[2016-10-19 07:09] seansay opened #22 "feature request: proxy support"
sadly , from China. Many part of the wikipedia page is blocked,  if I can pass in a proxy that would be great

[2016-10-19 08:12] seansay opened #23 "bug: attribute store ex-request's data"
now I'm using `wptools.page().get()` to get a page's data, but turn out the data doesn't exist,

but still, the instance it return have these two
[code]

the wikidata is from the ex-request it made,  not the current page

[2016-10-19 11:00] seansay commented on #22
I saw the source code the request is made in curl, so basiclly some global config of proxy, and passing to curl if needed

[2016-10-19 11:52] #21 closed

[2016-10-19 17:26] siznax commented on #23
Hi, @seansay. This means that the APIs were not able to get any information about your title. If your object is mostly empty after trying a `get`, then you can assume your request found nothing. The tool tries to report missing titles (see below). It is not considered a _fatal_ error, but an operator error. In this case, there is no redirect in English Wikipedia for 张楚 (to Zhang Chu), as you can s

[2016-10-19 17:27] siznax commented on #23
Maybe we should add an "error" attribute when this happens:

[code]

Something like this?

[code]

[2016-10-19 17:38] siznax commented on #21
Yes, that can be tricky. I think using a `wikibase` ID is best if possible. However, if somehow you already have a list of `pageid` for them, then that could work now too.

Thanks again for the request!

[2016-10-19 19:35] siznax commented on #22
Thanks for your request, @seansay. I added support for this (119ea6a00ef83366aa2b7d09000be6375592f243). Please let me know if it works for you.

[2016-10-20 03:03] seansay commented on #21
@siznax
I think I will using wikidata, because the claims is a nice way to distinguish whether is a band or person.  Thanks again!

[2016-10-20 03:07] seansay commented on #22
thanks!

also, is that request is really slow than curl?

[2016-10-20 03:31] seansay opened #24 "wikibase lookup bug"
For example `q = wptools.page(wikibase='Q43303').get_query` will always give back a None page?

I think in this case, the code will throw a exception if it don't have enough information to get the query information.

[2016-10-20 03:32] siznax commented on #22
No problem! Yes. So far, I have not been able to get `requests` to perform as well as `pycurl` "out-of-the-box". I plan to look more closely at using `requests` before making a 1.0 release.

[2016-10-20 03:40] siznax commented on #24
Right. With `wikibase` only, you would need to use `get_wikidata()` first. The `get` method will do the right thing:

[code]

[2016-10-20 03:48] seansay commented on #24
apologied if I'm having too much problems here!

running this code I get this traceback
[code]

[code]

[2016-10-20 04:00] seansay opened #25 "feature request: get all disambiguation results"
Hi Steve,

Not sure this can be done now

When I rencounter a disambiguation page in `get_wikidata()`, I want to get all the page in the disambiguation. And then decide which one is what I want( by looking up it's wikidata claims maybe)

[2016-10-20 04:10] siznax commented on #24
Haha, no problem! Finding bugs is very helpful. I need more test coverage here. I pushed the fix: e1761f740762a568218c9bf709fa8ed7a5fbc439

In this example, you'll probably want to use `lang='zh-cn'`:

[code]

[2016-10-20 04:13] siznax commented on #25
Hi @seansay. Thanks for the request. I'm not familiar with disclaimers. Can you give me an example?

[2016-10-20 05:13] seansay commented on #25
for example, for the word `Phew`, in the english wikipedia it has many page related to this word https://en.wikipedia.org/wiki/Phew

so
[code]

in this case, I want to get all the pages. I suppose it should be done by parsing the page content,  so you can get all the links

[code]

[2016-10-20 05:18] #22 closed

[2016-10-20 05:23] seansay commented on #24
@siznax
Thanks, so when should I use `zh-cn` and `zh`?

seems that for wikidata  `>>> wptools.page(wikibase='Q2274', lang='zh-cn').get_wikidata()` you can us `zh-cn`, but for others, you will need to use `zh`?

``
zh-cn.wikipedia.org (action=query) None
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/var/dae/prelease/20161020_seanlee_fm_EoHQGQ/fm/venv/src/wptools/

[2016-10-20 05:50] seansay opened #26 "Support language variants (simplified Chinese)"
I'm using `p = wptools.page(wikibase='Q5094115', lang='zh').get()` to get the chinese content of the page, but the content I get from `p.extract` is traditional Chinese

[code]

 I'm wondering is there a way to get  the simplified version of the content from the api, in the `https://zh.wikipedia.org/` , you can do this by selecting  different chiense flavor
<img width="258" alt="screen shot 2016-1

[2016-10-20 17:08] siznax commented on #24
Hi @seansay. You'll need to select the language choice that is appropriate for each API (MediaWiki, Wikidata, or RESTBase). In most cases, the language codes/subdomains are the same for every API.

Not so for Chinese—as you know there are [many variants](https://en.wikipedia.org/wiki/Chinese_Wikipedia), `zh`, `zh-cn`, `zh-classical`, `wuu`, `zh-yue`, etc. And in this case (Chet Baker) there are _n

[2016-10-20 17:17] siznax commented on #24
Also, as you noted elsewhere, the Chinese Wikipedia offers different "flavors" of Chinese for many pages, for example:

* https://zh.wikipedia.org/zh-cn/Wikipedia:%E9%A6%96%E9%A1%B5
* https://zh.wikipedia.org/zh-hk/Wikipedia:%E9%A6%96%E9%A1%B5
* https://zh.wikipedia.org/zh-mo/Wikipedia:%E9%A6%96%E9%A1%B5
* https://zh.wikipedia.org/zh-sg/Wikipedia:%E9%A6%96%E9%A1%B5
* https://zh.wikipedia.org/zh-tw

[2016-10-20 17:57] siznax commented on #26
Hi, @seansay. As I mentioned in [#24](https://github.com/siznax/wptools/issues/24#issuecomment-255167559), you'll need to select the language code appropriate for each API based on the data currently available, or add the data you want to either Wikidata or a Chinese Wikipedia.

If we want _simplified Chinese_ **data** from Wikidata (via the Wikidata API), then we probably need to set `lang='zh-cn

[2016-10-20 18:05] siznax commented on #26
For clarity, here are some examples of language variant content.

[Chet Lam (zh)](https://zh.wikipedia.org/wiki/%E6%9E%97%E4%B8%80%E5%B3%B0):

[Chet Lam (zh-cn)](https://zh.wikipedia.org/zh-cn/%E6%9E%97%E4%B8%80%E5%B3%B0):

林是香港唱作组合at17成员林二汶的哥哥，两人经常合作演出。

[Chet Lam (zh-hk)](https://zh.wikipedia.org/zh-hk/%E6%9E%97%E4%B8%80%E5%B3%B0):

林是香港唱作組合at17成員林二汶的哥哥，兩人經常合作演出。

[Chet Lam (zh-tw)](https://zh.w

[2016-10-20 18:11] siznax commented on #26
Just want to note here that this is currently an open issue against the RESTBase API: https://phabricator.wikimedia.org/T122942 which would be a good alternative if it is resolved.

[2016-10-20 18:57] siznax commented on #26
This is weird. I tried adding adding Mediawiki [API:Option](https://www.mediawiki.org/wiki/API:Options) `variant=zh-cn`:

[code]

And got this warning in the JSON result:

[code]

But the extract appears to have been converted to the `zh-cn` variant anyway!

[code]

Compare target string:

[code]

[2016-10-20 20:28] siznax commented on #26
I pushed support for adding `&variant={variant}` to API requests (d07b3aea9d1cab193c4a91b624a1fea571d1763d):

[code]

[code]

However, the warning: _"Unrecognized parameter: 'variant'"_ (noted above) seems to indicate that it is an unsupported/unstable feature.

@seansay, does this work for you?

[2016-10-20 20:44] siznax commented on #26
Uh-oh. I just realized that with this:

[code]

we would be getting `zh` (traditional Chinese) data from Wikidata, but `zh-cn` (simplified Chinese) info from Wikipedia.

So we'll need to make sure Wikidata requests respect `variant` when present.

That should be easy.

[2016-10-21 02:36] seansay commented on #25
Hi Steve,
sorry for my typo, I want to mean `disambiguation` instead of `disclaimers`.

[2016-10-21 03:16] seansay commented on #24
@siznax
thanks for the help!

So basically for wikidata, there is a language code for `zh-cn`, but for wikipedia instance, there are only `zh`, but variants for the same `zh`?

Yes it's sad that in Chinese wikipedia , we don't have that many pages for many reasons……

[2016-10-21 19:19] siznax commented on #26
@seansay I pushed a fix (74d6dce6adc64f6d6d0e439384e6769bb2c0cb8c) which ensures that Wikidata requests also respect `variant` when given. The invocation above modifies requests as follows:

Wikidata request (`&languages=zh-cn`):

[code]

MediaWiki requests (`&variant=zh-cn`):

[code]

[code]

This is what should happen:

[code]

I hope that works for you. Thanks so much for your help!

[2016-10-21 19:55] siznax commented on #25
Hi @seansay. Thanks for the request. No problem on the typo. I'm afraid this request is out of scope. Getting redirected to a disambiguation page is a valid use case, and external tools should handle crawling and scraping.

If this tools gains a solid user base and the request is re-opened, then it may be worth adding a separate module for things like this.

[2016-10-21 20:52] siznax commented on #23
On second thought, API misses should raise `LookupError` early and prevent subsequent requests. I fixed this with 434c365579aac00e0eb2606631964e1679ccb4fa. Thanks for reporting @seansay!

[2016-10-21 20:52] #23 closed

[2016-10-22 17:15] siznax commented on #25
@seansay, I think I see the problem now. Even if you have identified a page by wikibase, the title gotten may lead to a disambiguation page! So, the tool should try to get the exact title from `sitelinks` in a `get_wikidata` request rather than from the `label`.

For example:

[code]

The title we need can be found in the API result (that is "Phew (singer)" rather than just "Phew"):

[code]

I hav

[2016-10-22 18:40] siznax commented on #25
Fix df3c63439f7d8b76f02ea7077a253c290d32ec19 ensures that we get an unambiguous title from Wikidata from `sitelinks`:

[code]

[2016-10-24 03:18] seansay opened #27 "expose "modified" attribute"
I saw the api reponse has this value to indicate the page's last modified, can we add this to `wptools`?

[2016-10-24 03:21] seansay commented on #27
seems only `get_rest` has this attr set,

but wikidata query also return `https://www.wikidata.org/w/api.php?action=wbgetentities&formatversion=2&ids=Q5094115&languages=zh-cn&props=info%7Cclaims%7Cdescriptions%7Clabels%7Csitelinks&redirects=yes&sites=&titles=&variant=zh-cn`

[2016-10-25 02:45] seansay commented on #25
@siznax
oh,  actually this is not what i'm asking for.  But maybe this is what it should be (setting the right title for disambiguation page).

I think I don't have this problem because I always query wikipedia page by wikidata id, that way wikipedia content is correct as expected.

[2016-10-25 20:28] siznax commented on #27
Thanks for your request @seansay. I pushed a fix for this 4101cb473cc74e77b386f9d457fb2701d7523ef1:

[code]

[2016-10-26 05:43] seansay opened #28 "add api to set request timeout"
I'm using an proxy to reques wikipedia, so it reponse timeout often, could add a tiemout parameter is better?(like `requests` package)

[code]

[2016-10-26 05:57] seansay opened #29 "UnicodeDecodeError raised on LookupError"
wptools.page('阿Vane', lang='zh', variant='zh-cn').get_wikidata()

seems that when the title has chinese mixed with english words, it will has error decode it

[code]

[2016-10-26 08:00] seansay opened #30 "missing title, pageid should raise LookupError"
When i'm lookup an wikibase's chinese wikipedia page, I'm using

[code]

but it didn't throw a `LookupError` as I expected..

[2016-10-26 09:08] seansay opened #31 "wikidata item classification"
it's not really about this lib, but it could be better `wptools` could help on this:

I'm using the `claims` attr from wikidata to classify if the page I get is a musician or musicial group.

[code]

Now I'm using these three attr, if any page has anyone of these three attr in its claims, I think it's a musician. But the wikidata has tons of this `instance of` attrbite ( it' a tree I guess), so i

[2016-10-26 19:30] siznax commented on #28
Hi @seansay. Thanks for the request. I added the instance method `set_timeout()` (870b09098f77b76054e76f13cbd95d43acff988b). The timeout parameter is in seconds and covers the entire request (both connect and read). The default timeout ([curl TIMEOUT](https://curl.haxx.se/libcurl/c/CURLOPT_TIMEOUT.html)) is zero which means it will try to wait forever.

[code]

Also, I wrapped `python.error` in `R

[2016-10-26 20:08] siznax commented on #29
Thanks for catching this @seansay!

[2016-10-26 20:09] #29 closed

[2016-10-26 20:25] siznax commented on #30
Great idea @seansay, thanks again!

[2016-10-26 20:27] #30 closed

[2016-10-26 23:33] siznax commented on #31
Sorry @seansay, I don't know of any clever way, other than the relations described [here](https://www.wikidata.org/wiki/Help:Basic_membership_properties); in particular `x subclass of y` where `x` and `y` must both be classes. I would take a look at [**Wikidata:WikiProject_Music**](https://www.wikidata.org/wiki/Wikidata:WikiProject_Music) and try some [SPARQL queries](https://query.wikidata.org).

[2016-10-26 23:33] #31 closed

[2016-10-27 01:21] #26 closed

[2016-10-27 01:36] seansay commented on #30
@siznax
thanks!  this is great!

[2016-10-27 01:39] seansay commented on #29
thanks again!

[2016-10-27 01:40] seansay commented on #28
could you also add `proxy` and `timeout` to per query setting?

like `wptools.page("John Cage").get(timeout=5, proxy="")`, maybe this is more clean way to do it?

[2016-10-27 01:41] seansay commented on #28
Thanks again, Steve!

[2016-10-27 01:44] seansay commented on #28
I would also try to help on the source code when I had more time  🍻

[2016-10-27 01:48] seansay commented on #31
@siznax
Thanks youe help!

After some research I found this `http://wdq.wmflabs.org/`, and a query `http://wdq.wmflabs.org/api?q=tree[2088357][][279]` (P279 is `subclass of`)
will return all subclass of Q2088357(music enseble), this way I can decide whether a wikidata item is a band

[2016-10-27 08:28] seansay opened #32 "support Wikidata claims lists"
I'm see a lot for a musician,  the genre is a list

<img width="857" alt="screen shot 2016-10-27 at 4 27 11 pm" src="https://cloud.githubusercontent.com/assets/349342/19760046/40805fb2-9c62-11e6-907c-32558207b176.png">

but wptools return a single value, I'm not sure  whether is the api only return first value

[2016-10-28 04:02] siznax commented on #32
Thanks for the request @seansay. I pushed a fix for this 2fa845ff7ff3ad9d087f4ac5deb4170242782340:

[code]

[2016-10-28 04:02] #32 closed

[2016-10-28 15:54] siznax commented on #28
@seansay, can you explain to me why it may be cleaner to do this:

[code]

instead of this?

[code]

I see that `requests` prefers the former, but it doesn't look as clean to me.

Also, in that case, we would need to add `(timeout=0, proxy='')` arguments to all the `get_` methods?

[2016-10-29 02:38] siznax opened #33 "Consolidate images"
Each image should be put in a dict with its key indicating the source, and no attempt to compute a media URL until later. Something like this:

[code]

We should open another issue to provide a method to resolve filenames.

[2016-10-29 02:47] siznax opened #34 "Implement resolve_filenames (into valid URLs)"
When API requests populate an instance with filenames (e.g. `images` see #33), we need a method to resolve filenames into _valid_ URLs. We should provide a method that compute an initial guess at the URL using `utils.media_url()`  with the default namespace (_commons_) and perform a `HEAD` on said URL, adjusting the namespace by `language` and so on until each filename URL yields HTTP status 200.

[2016-10-29 03:01] siznax opened #35 "Consolidate attributes"
Let's have some reasonable level of access to important API data on an instance, but also consolidate where it makes sense. Let's use this issue for discussions on what makes sense, and start here:
1. Put image items (`image`, `thumbnail`, etc.) in `images` attribute (see #33)
2. Put cache items (`g_query`, etc.) in `cache` attribute

[2016-10-30 20:13] siznax commented on #33
Implemented with 29a506332ad456aa06d586fcf5bac6e51604d42f:

[code]

[2016-10-30 20:13] #33 closed

[2016-10-30 20:16] siznax commented on #33
Resolving `file` attributes to `url`s will be tracked in #34

[2016-10-31 00:49] siznax commented on #34
Let's use  [API:Imageinfo](https://www.mediawiki.org/wiki/API:Imageinfo) to populate image details instead!

Commit ca53f300c7ef62c39ccf0ac7dc767917afa63c77 implements `get_imageinfo()`:

[code]

Use `get_imageinfo` to update image info:

[code]

Now we have _valid_ URLs, size, width, height, etc. from [API:Imageinfo](https://www.mediawiki.org/wiki/API:Imageinfo)

[code]

[2016-10-31 00:49] #34 closed

[2016-11-01 01:52] siznax commented on #35
Commit 29a506332ad456aa06d586fcf5bac6e51604d42f consolidated images.

Commit 88eb9afb17c9cc80fa1b7c5bcc93c30314d92e79 consolidated `g_<action>` items in the `cache` attribute.

Let's re-open this issue if we discover more opportunities to consolidate!

[2016-11-01 01:52] #35 closed

[2016-11-01 01:53] siznax commented on #18
Fixed with ca53f300c7ef62c39ccf0ac7dc767917afa63c77

[2016-11-01 01:53] #18 closed

[2016-11-01 02:38] siznax commented on #19
Fixed with 878d2341322fa99501c3dae31ae0e768575f8170 "Support for non-https wikis"

[2016-11-01 02:38] #19 closed

[2016-11-02 01:31] siznax commented on #27
It turns out that the modified attribute is ambiguous. If you invoke `get()` then the modified date of the page is clobbered by the modified date of the Wikidata item. We should make modified a dict or list.

[2016-11-02 02:24] seansay opened #36 "props and claims differences"
Hi Steve,

I'm wondering the page object's `props` and `claims`, what's the difference?
Am I correct props it's more like the raw data, and `claims` it's parsed to be used more friendly in the library?

thanks so much!

[2016-11-02 09:55] seansay commented on #28
@siznax
First, it seems that you add `set_timeout` to the `WPTools` class not the module?

One benefit I came up with is that you can dynamiclly decide the timeout and proxy based on the complex rules(without changing the module attrbite):

1. you have many proxies , and you randomly choose one each time.
2. timeout can be related to proxies if you're doing that precisely

it's good to just have o

[2016-11-02 18:12] siznax commented on #36
Thanks for your question @seansay. I decided to explain this in the wiki, which I hadn't used until now. So, you're responsible for yet another improvement!

[2016-11-02 20:39] siznax opened #37 "Consider custom exception class"
It would be nice to have a custom exception class if necessary. It could protect users from changes in our implementation (for example, we raise`pycurl.error` now, but that may change to a `requests` exception in the future), but we should have a clear and strong case for making another class.

[2016-11-03 02:07] siznax commented on #28
Good points @seansay. I'll make it so all API entrypoints support it:

[code]

[2016-11-03 06:17] seansay commented on #28
@siznax
thanks Steve, that would be great! 🍺

[2016-11-03 06:18] seansay commented on #37
that's a very good point here Steve

[2016-11-03 07:51] seansay opened #38 "AttributeError: 'NoneType' object has no attribute 'get'"
[code]

[2016-11-03 09:46] seansay commented on #38
seems that it went error when process this prop
```{u'type': u'statement', u'mainsnak': {u'datatype': u'time', u'property': u'P576', u'snaktype': u'novalue'}, u'id': u'Q483718$9da5583a-45e8-4268-2770-41d999bd53da', u'rank': u'normal'}```

so there is no `datavalue` here, see also in wikidata page https://www.wikidata.org/wiki/Q483718

<img width="917" alt="screen shot 2016-11-03 at 5 45 26 pm" src

[2016-11-04 00:39] siznax commented on #38
The problematic property for this item was P19 ("place of birth"), which is hard to see without inspecting the API response directly (page.cache['wikidata']['response']). P19 is simply missing a "datavalue" member, normally found inside "mainsnak"!

[code]

Maybe you were looking at the wrong tab? The offending item appears to be https://www.wikidata.org/wiki/Q1041708.

[2016-11-04 00:39] siznax commented on #38
Thanks so much for the fix @seansay!

[2016-11-04 00:39] #38 closed

[2016-11-04 03:36] #28 closed

[2016-11-04 18:06] siznax commented on #5
From https://www.mediawiki.org/wiki/API:Client_code/Evaluations:

This will be a blocker until there is clear justification for adding these features, which may not be appropriate for this library.

[2016-11-04 19:52] #27 closed

[2016-11-04 19:54] siznax opened #40 "Create helper class to pull data from API responses"
This is intended to alleviate the number of branches in `core._set_<action>_data` methods.

[2016-11-04 21:15] siznax opened #41 "Add request method for common "get_" tasks"
Most `get_` methods do nearly the same thing:

- check cache
- maybe raise LookupError
- form query
- get response, info
- cache query, response, info
- set attributes from response data
- maybe get_claims, get_imageinfo, show

[2016-11-04 22:23] siznax opened #42 "Add flag to defer get_imageinfo when calling get()"
Currently, when we call `get()` we may end up calling `get_imageinfo()` up to three times (for `get_query`, `get_parse`, and `get_wikidata`):

[code]

Let's insert a flag to defer getting imageinfo until the last call in `get()`.

[2016-11-04 22:32] #41 closed

[2016-11-05 03:17] #42 closed

[2016-11-05 03:19] siznax commented on #36
I hope this answered your question @seansay.

[2016-11-05 03:19] #36 closed

[2016-11-05 23:48] siznax commented on #40
Added `_load_response()` to core with commit 382ceca23a39cb5c726ad6dac8e436466eadc30d, and that has simplified things enough that we don't yet need another class for this.

[2016-11-05 23:48] #40 closed

[2016-11-06 00:36] siznax opened #43 "Simplify "wptool" script"
Recent improvements should allow us to make the `wptool` script much simpler. In fact, a goal should be for that script to do as little possible, supported by attributes resulting from the fewest queries.

[2016-11-06 23:27] siznax opened #44 "Figure out why requests seems slower than pycurl"
I love python [requests](https://github.com/kennethreitz/requests) for its interface design and code quality. Indeed, it is the model for this package, but it does not work for me out-of-the-box as fast as [pycurl](http://pycurl.io/) for some reason (see [wptools/fetch.py](https://github.com/siznax/wptools/blob/master/wptools/fetch.py)). I've tried tinkering with my environment a bit without any l

[2016-11-06 23:39] siznax commented on #44
[Python-client-benchmarks](https://github.com/svanoort/python-client-benchmarks) seems to offer some insight, that being that pycurl is 2-3x faster depending on your usage. We may want to at least support reusing connections, but that may not effect our choice of HTTP lib.

[2016-11-06 23:50] siznax opened #45 "Moar test coverage"
Working on this piecemeal, but want to have good coverage by 1.0.

[2016-11-06 23:52] siznax opened #46 "Continuous integration"
Planning to install this once we have decent test coverage.

[2016-11-07 05:22] seansay opened #47 "AttributeError on get_wikidata in __get_image_files"
trackback
[code]

[2016-11-07 06:47] seansay opened #48 "Add support for get_wikidata continuations"
Hi Steve,
i'm not sure this is possible yet in wikidata's api, but I have this list of id(1000+), I only need to know its title right now.  Instead of query one by one, it would be great to just have its name in one query.

[2016-11-07 06:49] seansay commented on #47
also this

[code]

[2016-11-07 20:28] siznax commented on #47
Thanks for reporting this @seansay. Can you tell me which inputs caused these errors?

Also, do you have the latest code?

[2016-11-07 21:40] siznax commented on #47
I think this has partly to do with a bug I introduced during refactoring for 0.2.0. I pushed a fix for this ec3ebf4d64a534045957f2895b46e171b9f4f660 at least.

[2016-11-07 21:49] siznax commented on #48
Thanks for the question @seansay. The Wikidata API [wbgetentities module](https://www.wikidata.org/w/api.php?action=help&modules=wbgetentities) we use supports getting 50-500 titles:

[code]

I plan to support continuations on all entrypoints by 1.0.

[2016-11-08 03:43] seansay opened #49 "get_imageinfo hangs on proxy with timeout"
timeout seems not working here
[code]

BTW, is there a way to ignnore imageinfo processing, since I only need the text data

[2016-11-08 05:07] siznax commented on #46
Added Travis CI with ab3d4bf28a40fbaf7d3d8fcea8c33fb79f336d6e

https://travis-ci.org/siznax/wptools

[2016-11-08 07:39] seansay opened #50 "language variant not working"
Hi Steve,

I'm using `zh-cn` to get a wikibase's title, but seems the `label` and `title` is both traditional chinese not simplified chinese(also, what's the difference between these two?) but wikipedia display zh-cn in its page ,

<img width="362" alt="screen shot 2016-11-08 at 3 39 07 pm" src="https://cloud.githubusercontent.com/assets/349342/20090676/971e9c06-a5c9-11e6-9bfa-882fd4f31ac2.png">

[2016-11-08 18:48] siznax commented on #47
@seansay are you still having this problem?

[2016-11-08 19:13] siznax opened #51 "Add option to skip requests"
Sometimes we're only interested in the text, as in #49

[2016-11-08 19:18] siznax commented on #49
Hi @seansay! I added `CURLOPT_VERBOSE` so you can see exactly what's going on with a327173844d836a9fb5eb69150ea7b09232dd49e

Take a look at stderr after adding `verbose=True`:

[code]

We may want to try `CURLOPT_HTTPPROXYTUNNEL` depending on the results.

It would be best if you could test that from your location by adjusting `fetch.curl_setup`.

[2016-11-08 19:55] siznax commented on #51
@seansay, you asked:

Currently, you can use `_defer_imageinfo`, but you'll need to breakout your gets:

[code]

Btw, `get_parse` is the most expensive operation, so you should skip it if you can.

I'll add a `skip` option, so we can do this:

[code]

or even:

[code]

[2016-11-08 22:24] siznax commented on #50
Hi @seansay!

"label" is the Wikidata title, while "title" is a wikisite title. They only differ slightly in English (titles must begin with a capital letter), but are often the same for Chinese.

[code]

[2016-11-08 22:26] siznax commented on #50
In your output above, `label` and `title` come from the last request that supports setting those attributes:

[get_wikidata](https://www.wikidata.org/w/api.php?action=wbgetentities&formatversion=2&ids=Q20474&languages=zh-cn&props=info|claims|descriptions|labels|sitelinks&redirects=yes&sites=&titles=&variant=zh-cn) result:

[code]

[get_query](https://zh.wikipedia.org/w/api.php?action=query&exintro

[2016-11-08 22:29] siznax commented on #50
In any case, we were not getting the label based on `variant='zh-cn'` with `get_wikidata`, so I pushed a fix for that with 89987a4125d8e9ac4418367a61ed863f9f4198d3:

[code]

These language variant issues are complex. We need some solid test cases for them.

[2016-11-08 22:29] #50 closed

[2016-11-08 22:35] siznax commented on #49
I opened #51 so you'll have support to skip selected requests.

[2016-11-08 22:44] siznax opened #52 "Need solid unit tests for language variants (esp. Chinese)"
As shown in #50, getting language variants right is complicated by:

1. incorrect API data
2. incomplete support by wikisites
3. knowing what to expect under ideal conditions

We need some solid test cases that operate on some title/page/item with variants that are correct.

[2016-11-08 22:47] siznax commented on #46
Let's keep this open until we also have some measure of code coverage.

[2016-11-08 23:20] siznax commented on #52
See also https://meta.wikimedia.org/wiki/Automatic_conversion_between_simplified_and_traditional_Chinese

[2016-11-08 23:28] siznax commented on #52
The English Wikipedia API [docs](https://en.wikipedia.org/w/api.php?action=help&modules=query) mention a `converttitles` parameter:

but it doesn't seem to do anything useful ([query](https://zh.wikipedia.org/w/api.php?action=query&exintro&formatversion=2&inprop=displaytitle%7Curl&list=random&pithumbsize=240&ppprop=wikibase_item&prop=extracts%7Cimages%7Cinfo%7Cpageimages%7Cpageprops%7Cpageterms&re

[2016-11-08 23:56] #51 closed

[2016-11-09 03:31] seansay commented on #47
@siznax
sorry I didn't log the input last time, I'll try again so see if that happenes

[2016-11-09 14:32] gena opened #53 "How to get info for File: titles"
I'm trying to get info for the following page: https://en.wikipedia.org/wiki/File:Blue_River_Dam.jpg:
[code]

Unfortunately, this gives the following error:

[code]

[2016-11-09 18:08] siznax commented on #53
Hi @gena, thanks for your question. We raise `LookupError` when the APIs return "missing". The exception gives the [link](https://en.wikipedia.org/w/api.php?action=query&exintro&formatversion=2&inprop=displaytitle|url&list=random&pithumbsize=240&ppprop=wikibase_item&prop=extracts|images|info|pageimages|pageprops&redirects&rnlimit=1&rnnamespace=0&titles=File:Blue_River_Dam.jpg) (from above) to the

[2016-11-09 18:27] #53 closed

[2016-11-09 18:29] siznax commented on #53
This seems like reasonable behavior and there are no conflicts, so I went ahead and pushed support for this. Let me know if you have something else in mind, @gena.

[2016-11-09 22:23] siznax commented on #47
Found one that causes the same `AttributeError`:

[code]

it came from `wikidata-image`:

[code]

[2016-11-09 22:24] siznax commented on #47
So, these issues remain. I'm creating a new issue for the `TypeError` you found. Thanks, @seansay!

[2016-11-09 22:25] siznax opened #54 "TypeError in _marshal_claims"
As reported in #47:

[code]

[2016-11-10 02:33] siznax commented on #47
The fix I've prepared now creates a new image item for each image returned by `get_wikidata`:

[code]

[2016-11-10 02:35] #47 closed

[2016-11-10 03:25] #54 closed

[2016-11-10 03:26] siznax commented on #54
@seansay, I think I introduced this bug after modifying your PR. Sorry!

[2016-11-10 09:40] seansay commented on #49
@siznax
thanks so much for this patch, the default behaviour seems doing a lot than what i'm expected.

I'll open the verbose mode to see which request blocks

[2016-11-10 09:52] seansay commented on #49
seems that the request hang up at this, and the `timeout` parameter isn't working here?

[code]

[2016-11-10 09:59] seansay commented on #54
@siznax
that's okay, I'm constantly updating the pakcage to the current master version

[2016-11-10 18:56] siznax commented on #49
@seansay, thanks for trying that out. Since it's happening during connect, let's add [CONNECTTIMEOUT](https://curl.haxx.se/libcurl/c/CURLOPT_CONNECTTIMEOUT.html) as well.  The docs are not perfectly clear:

[code]

Let's try using the same timeout for both, and see if that is acceptable.

[2016-11-10 19:07] #46 closed

[2016-11-11 02:13] seansay commented on #49
@siznax
lgtm for this.

[2016-11-11 02:13] seansay commented on #49
👏

[2016-11-11 02:13] #49 closed

[2016-11-11 03:30] seansay opened #55 "default wikiprops"
Hi Steve,

When I'm trying to request a ne property of a wikidata item, it's kind of hack in code right now:

` simone._WIKIPROPS['P21'] = 'gender'`

(maybe one should never set private attribute out of class definition?)

Maybe we could set up a method on the module object `wptools` to set up an global props dict, and then provie a optional parameter on the page function ,

`wptools.page(wikibase

[2016-11-12 00:37] siznax commented on #55
Good point about the private attribute. We should have a accessor method.

We would need to provide labels with the props too, so maybe like this?

[code]

[2016-11-12 01:09] siznax commented on #55
Ideally, we would get all labels for all `P` (properties) and `Q` (items) and not worry about supplying labels, but that will require support for continuing queries (#48), and I plan to do that before 1.0.

[2016-11-12 01:55] siznax commented on #48
I looked into this a bit more. It shouldn't be too difficult. If we add properties to claims as well in `_marshal_claims()`, then our `get_claims()` query will have both `P` properties and `Q` items:

[code]

We'll have to limit `&ids=` to 50:

[code]

That will give us claims like this:

[code]

until we set ALL the labels in `_set_claims_data()` instead of only the ones defined by `_WIKIPROPS`:

[2016-11-12 02:57] siznax commented on #55
@seansay, I added support for this with bac9ed0cf3ce1eaa552fcbff107eba9e7289c5eb

[2016-11-12 18:16] siznax opened #56 "Get ALL Wikidata (claims, labels)"
We may want to offer the option of resolving ALL Wikidata claims via `get_claims`. It would require additional requests, and may not offer a useful result. Not to be confused with continuations on multiple item requests via `get_wikidata` which is #48.

[2016-11-12 18:17] siznax commented on #56
I've looked into this, and it wouldn't be difficult. If we add properties to claims as well in `_marshal_claims()`, then our `get_claims()` query will have both `P` properties and `Q` items:

[code]

We'll have to limit `&ids=` to 50:

[code]

That will give us claims like this:

[code]

until we set ALL the labels in `_set_claims_data()` instead of only the ones defined by `_WIKIPROPS`:

[code]

[2016-11-12 18:19] siznax commented on #48
Not to be confused this with continuations on `get_claims`, which is now #56.

[2016-11-12 18:20] siznax opened #57 "Support continuations for multiple pages/titles"
This would allow us to specify a list of titles to get info on via `get_query`.

[2016-11-15 02:17] seansay opened #58 "ValueError: No JSON object could be decoded"
I'm running a cron to crawl many musician's wikidata/wikipedia info,  sometimes it runs into this error, haven't got a chance to catch the output though

[code]

[2016-11-15 16:43] siznax commented on #58
Thanks for reporting @seansay! We should catch `ValueError` and raise `LookupError` with the offending query here.

[2016-11-15 16:45] #58 closed

[2016-11-17 04:29] siznax commented on #55
Does this seem like a reasonable solution @seansay?

[2016-11-22 04:27] siznax commented on #55
I'll close this for now. Please re-open to continue the discussion! 😎

[2016-11-22 04:27] #55 closed

[2016-11-23 18:44] #44 closed

[2016-12-12 23:04] GonzMG opened #59 "ImportError installing wptools"
Hello! When I try to install wptools by the console, this error appears:

Traceback (most recent call last):
  File "/usr/bin/pip", line 9, in <module>
    load_entry_point('pip==1.5.6', 'console_scripts', 'pip')()
  File "/home/gonzalo/.local/lib/python2.7/site-packages/pkg_resources/__init__.py", line 565, in load_entry_point
    return get_distribution(dist).load_entry_point(group, name)
  File

[2016-12-13 04:34] siznax commented on #59
Thanks for your question, @GonzMG. It looks like your `pip` doesn't like one or more of your installed packages, namely `requests`, which is not required by `wptools`.

I would make sure `pip` is up to date (9.0.1), and create a fresh virtual environment for `wptools`: https://virtualenvwrapper.readthedocs.io/en/latest/

[2016-12-14 06:10] seansay commented on #59
maybe upgrade `pip` and try again?

[2017-01-02 20:21] siznax commented on #59
Closing, unless this problem resurfaces.

[2017-01-02 20:21] #59 closed

[2017-02-27 21:51] wearpants commented on #56
This would be very useful to me right about now. :+1:

[2017-03-26 14:33] peeter-t2 opened #60 "Get text extract with internal wikilinks?"
Hi! Great app, thanks for making it!

Is there any way to retreive the summary text with the internal wikilinks intact? Both "extract" and "extext" remove the links it seems.

Thanks!

[2017-03-26 20:44] siznax commented on #60
Hi @peeter-t2, thanks for opening an issue!

You can get a raw HTML extract via [RESTBase](https://www.mediawiki.org/wiki/RESTBase) using `get_rest`:

[code]

I promoted it like other extracts to the `exhtml` attribute with c041534:

[code]

Hope that helps!

[2017-03-26 20:44] #60 closed

[2017-03-27 09:53] peeter-t2 commented on #60
Thanks! This is really helpful. I guess the html would then include links as <a href...>. (Unfortunately I don't have access to testing now.)

Any chance that it could output wikisource with links intact (e.g. [[link-to|link-name]] )? Thanks for the app, it's already solving almost all we needed, so the link thing would be just extra. :)

[2017-03-29 18:43] siznax commented on #60
Here's a sample of HTML links from `exhtml`:

[code]

[2017-03-29 19:13] siznax opened #61 "Get extract as wikitext"
Full article wikitext is already available via `get_parse()`:

[code]

The problem here is that we would need to parse this wikitext to isolate an extract. This module avoids parsing with one important exception—parsing infoboxen in `wptools.utils`. This is the most complex and fragile part of wptools. It is there because Wikidata often lacks info we need, but hopefully one day we can prune this n

[2017-03-29 19:14] siznax commented on #60
@peeter-t2, your last question should be answered in another issue, #61

[2017-04-07 08:44] aplz opened #62 "Infobox parser returns only the first element if value is a list"
In the German version of Wikipedia, there are a couple of infoboxes containing lists as values, for instance https://de.wikipedia.org/wiki/Lewisit.
In such cases, the parser returns only the first element.
For instance, using

[code]
we get
`('Dichte', u'*1,8793 g\xb7cm<sup>\u22123</sup> (25 \xb0C, trans-Isomer)')`

The expected result would, according to the Wikipedia article look like this:
`('D

[2017-04-11 21:49] JarbasAI opened #64 "AttributeError: 'list' object has no attribute 'replace' - bug"
having this error randomly on some search terms, possible duplicate of #47
[code]

[2017-04-13 10:16] l00mi commented on #56
I also would not mind for this possibility for research purposes.

[2017-04-13 23:26] siznax commented on #64
Thanks for reporting, @JarbasAI. I'm not getting this error with `0.2.1`.

Are you up to date?

[code]

[2017-04-14 23:44] siznax commented on #62
Thanks again for the contribution, @aplz!

[2017-04-14 23:44] #62 closed

[2017-04-16 19:13] siznax commented on #64
Okay, I see @JarbasAI. The fix for #47 didn't make it into `0.2.1`. I pushed a new revision, `0.2.2` that includes that fix. Sorry for the confusion.

[2017-04-16 19:13] #64 closed

[2017-04-18 08:55] aplz commented on #62
Thanks for merging, @siznax!

[2017-05-17 08:41] lethargilistic opened #65 "PIP install not working"
I see you just updated last month, and you should know that it's currently not possible to install via pip, using Python 3. When this happens to me, something usually went wrong with creating the wheel or I forgot to upload it.

Here's the error:

[code]

[2017-05-17 14:45] siznax commented on #65
Thanks for opening an issue, @lethargilistic. The wheel has been [in place](https://pypi.python.org/pypi/wptools/#downloads) since 2017-04-18, and the Travis build [succeeded](https://travis-ci.org/siznax/wptools/builds/224575495) for Python 3.5.

Any other suggestions?

[2017-05-17 15:29] siznax commented on #65
Also...

[code]

[2017-05-17 15:41] siznax commented on #65
@lethargilistic you may need to update your system to use pycurl.

[2017-05-17 22:15] lethargilistic commented on #65
It was on my end. Extremely strange. I've never had an issue like that before. Ah well, live and learn.

[2017-05-17 22:15] #65 closed

[2017-06-06 14:47] rikima opened #66 "When infobox elements have sub elements, text_with_children method in utill.py can not parse infobox elements properly."
e.g.
[code]

To address this issue.
I modified the text_with_children method as follows.

[code]

[2017-06-22 14:09] #66 closed

[2017-06-22 14:11] siznax commented on #66
Thanks for the contribution @rikima!

[2017-07-21 22:41] siznax opened #67 "Improve RESTBase access via get_rest"
The `get_rest` ([RESTBase path](https://github.com/siznax/wptools/wiki/RESTBase)) needs a thorough review now that `/mobile-text/` is no longer available. It may be that RESTBase does not offer much more functional value than the "good old Mediawiki API", aside from the performance benefits. Rather than trying to keep up with changes here, perhaps we should simply provide "passthrough" access to t

[2017-07-21 23:22] siznax commented on #67
Currently, `get_rest` attempts to populate the following page attributes:

[code]

`exhtml`, `lead`, and `modified` are uniquely available through `get_rest`. I've only seen interest in `exhtml`, currently non-functional, but still available through [/page/mobile-sections-lead/](https://en.wikipedia.org/api/rest_v1/#!/Mobile/get_page_mobile_sections_lead_title_revision). So, let's use this endpoin

[2017-07-22 00:20] siznax commented on #67
Now I remember that `/page/mobile-sections-lead/` is messy. It includes infoboxes and citations and references that are out of context. In other words, it requires additional parsing to be useful as an extract or summary. Let's table `get_rest` until we see something uniquely useful from it, and move the former "extract" data into:

[code]

We'll preserve the `get_rest` path and put the RESTBase "

[2017-08-11 02:44] siznax commented on #67
Supporting `page` [entrypoints](https://en.wikipedia.org/api/rest_v1/) probably makes sense here. Calling `get_rest()` without arguments would get "page-related API entry points", and calling it with an entry point "prefix", that is without the `{title}` argument (since that is how you initialize a `wptools` page), would result in a call to the constructed entry point. For example:

[code]

[2017-08-13 03:30] siznax commented on #67
I've implemented the approach above and wrote test cases. I'm pretty happy with it. We have more functionality than before and it will be easier to maintain as RESTBase changes.

I'll close this issue on the next release.

[2017-08-14 17:19] siznax commented on #67
Fixed with v.0.3!  :bowtie:

[2017-08-14 17:19] #67 closed

[2017-08-17 00:10] siznax commented on #15
Good news, Everyone! :rocket: We now have basic category functionality via ``wptools.cat``:

### Category docs

[code]

### Category example

[code]

[2017-08-17 00:43] siznax commented on #15
I've added a [Category](https://github.com/siznax/wptools/wiki/Categories) page and Category methods to [Methods](https://github.com/siznax/wptools/wiki/Methods) on the wiki.

New category issues should be bugs or improvements.

[2017-08-17 00:43] #15 closed

[2017-08-17 13:45] piuma opened #68 "libcurl link-time ssl backend (nss) is different from compile-time"
Steps to reproduce:

[code]

[code]

[2017-08-17 14:22] piuma commented on #68
In my Linux Fedora distibution works after reinstall libcurl by running this command
`pip install --no-cache-dir --compile --ignore-installed --install-option="--with-nss"  pycurl`

[2017-08-17 21:58] siznax commented on #68
Thanks for trying wptools, @piuma!

Currently, we don't specify an SSL backend in the build process, and we build our distribution on Mac OS X:

[code]

The [pycurl install doc](http://pycurl.io/docs/latest/install.html) recommends OpenSSL and points out that you can specify which SSL backend on setup:

[code]

and, apparently, you can be specific in the ``requirements.txt`` file:

[code]

However

[2017-08-18 00:44] siznax opened #69 "Add page attributes from Mediawiki API:Info"
Let's add page attributes from the [API:Info](https://www.mediawiki.org/wiki/API:Info) module! Compare the example below to the same page's  "[Page information](https://en.wikipedia.org/w/index.php?title=Mahatma_Gandhi&action=info)". Our page attributes should be comparable.

Of particular interest are ``length`` and ``watchers`` (``views`` is no longer available, sigh). Is anyone graphing these c

[2017-08-18 00:58] siznax commented on #69
Note that we can probably get page view counts of some interest from the [Analytics Query Service](https://wikitech.wikimedia.org/wiki/Analytics/AQS/Pageviews)

[2017-08-18 21:10] siznax opened #70 "Add page languages from Mediawiki API:Langlinks"
Mediawiki [API:Langlinks](https://www.mediawiki.org/wiki/API:Langlinks) offers  a list of the languages the page is currently available in. The most interesting thing to know may be just _how many_ languages the article has been translated into, so there is some overhead to returning a long list of page titles in each language.

The api limit for ``langlinks`` is 500, but according to [Wikipedia r

[2017-08-18 23:01] #69 closed

[2017-08-18 23:01] #70 closed

[2017-08-18 23:54] siznax opened #71 "Implement page.image, page.files, page.pageimage()"
Currently, we get representative page images from Mediawiki, Wikidata, and RESTBase, resolve their "Imageinfo" and put them in the ``page.images`` attribute. We also get the full list of images on a page with ``page.get_query``, but we do not put them in an attribute. I think it would be more intuitive to put _representative_ images like "pageimage" and "thumbnail" in the ``page.image`` attribute,

[2017-08-19 00:10] siznax opened #72 "Update wiki:Attributes with new Page attributes"
Let's [document](https://github.com/siznax/wptools/wiki/Attributes) the recently added page attributes:

[x] page.categories
[x] page.contributors
[x] page.image
[x] page.files
[x] page.languages
[x] page.length
[x] page.views
[x] page.watchers

[2017-08-19 00:27] siznax commented on #71
We'll also need to rename the method ``page.image()``.

[code]

[2017-08-19 00:50] siznax opened #73 "Add 'categories' page attribute from Mediawiki API:Categories"
Adding ``page.categories`` from the Mediawiki [API:Categories](https://www.mediawiki.org/wiki/API:Categories) module will help us make better use of the new ``wptools.category`` functionality. Note we'll use ``clshow=!hidden`` to show only non-hidden categories.

https://en.wikipedia.org/w/api.php?action=query&cllimit=500&clshow=!hidden&prop=categories&titles=Mahatma%20Gandhi

[code]

Since the [n

[2017-08-19 00:56] #73 closed

[2017-08-19 01:27] siznax opened #74 "Clarify page.image versus page.images"
Let's try to make sure it is clear that **page.image** is a ``<list>`` of ``<dict>``(s) containing resolved representative page image (pageimage, thumbnail, wikidata image, rest image, etc.) info, while **page.images** is a simply a ``<list>`` of strings that are the file names of images that appear in the page.

[2017-08-19 01:45] siznax commented on #74
We also need to come up with a better term for the representative image than "pageimage".

[2017-08-19 15:55] siznax commented on #74
It turns out that [API:Images](https://www.mediawiki.org/wiki/API:Images) actually returns the list of _files_ used on the page, which may include audio, video, etc. So we'll assign this list to ``page.files``.

[2017-08-19 15:55] #74 closed

[2017-08-19 15:57] siznax commented on #71
As noted in #74, Mediawiki [API:Images](https://www.mediawiki.org/wiki/API:Images) actually returns a list of _files_ used in the page. So, we'll put that list in ``page.files``.

[2017-08-19 16:30] siznax opened #75 "Surface page.thumb and page.cover"
It seems reasonable to surface thumbnail and (album, film, book) cover images as a page level attribute. Thumbnails can come from ``page.get_query`` and ``page.get_rest('summary')``. Covers come from ``page.get_query``. This should probably be done in ``core._set_imageinfo_data``.

[2017-08-19 16:37] siznax opened #76 "Get pageviews from Mediawiki Extension:PageViewInfo"
The Mediawiki [Extension:PageViewInfo](https://www.mediawiki.org/wiki/Extension:PageViewInfo) offers pageviews for each day over the last 60 days (by default). Apparently, it also provides data for page view graphs linked in the [Information](https://en.wikipedia.org/w/index.php?title=Mahatma_Gandhi&action=info) page.

Let's average the last 60 days of page views and put that in ``page.views``, gi

[2017-08-19 16:48] siznax commented on #76
See also, graphs for Most Viewed Pages: https://tools.wmflabs.org/topviews/?project=en.wikipedia.org&platform=all-access&date=2017-07&excludes=

[2017-08-19 17:08] siznax opened #77 "Create WPToolsPage class derived from core"
The ``wptools.core`` module is still immature, but now that we have an example of reusing  it in ``wptools.category`` we can see better how to refactor it. The core module should still be the base class, and the page functions should be pulled out into a ``WPToolsPage`` class.

[2017-08-19 17:41] #71 closed

[2017-08-19 18:15] #76 closed

[2017-08-20 17:25] siznax opened #78 "Consider WPToolsSite class"
This class would get information about a wiki site like top ten page views, etc. We can use the SiteMatrix extension to get a random Wikimedia site.

* [Extension:SiteMatrix](https://commons.wikimedia.org/w/api.php?action=sitematrix)
* [Extension:PageViewInfo](https://www.mediawiki.org/wiki/Extension:PageViewInfo)
* [API:Siteinfo](https://www.mediawiki.org/wiki/API:Siteinfo)

[2017-08-20 17:45] #72 closed

[2017-08-20 17:49] siznax opened #79 "Separate query action into hi/low performance actions"
I've noticed performance declining in ``page.get_query()`` with the new query action props like contributors, files, languages, length, views, and watchers. We should determine a good minimum set for better performance, and put the rest in another action. The ``page.get()`` method would still call them both.

[2017-08-20 18:13] #68 closed

[2017-08-20 22:41] siznax opened #80 "Create WPToolsQuery, WPToolsRequest from fetch module"
The ``wptools.fetch`` module is confused, in particular ``fetch.query()``. Features to support that function should be put in a new class called ``WPToolsQuery`` to help form query strings, and ``WPToolsFetch`` functionality should be focused into ``WPToolsRequest`` to support executing HTTP requests with its many options.

[2017-08-23 15:45] siznax opened #81 "Move page attributes into page.attrs and core.show() into utils"
There are too many page attributes put on the class. Let's put them in ``page.attrs`` and send that dict to ``utils.show(page.attrs)`` to echo them.  This should also simplify the ``show()`` method.

[2017-08-23 18:18] siznax commented on #79
The slowest queries are probably on the busiest pages, for example [most viewed](https://en.wikipedia.org/wiki/Wikipedia:Multiyear_ranking_of_most_viewed_pages) in English = "United States" and [most revised](https://en.wikipedia.org/wiki/Wikipedia:Database_reports/Pages_with_the_most_revisions) = "George W. Bush". See "mostviewed" pages on other wikipedias by replace "en" below with your language

[2017-08-23 19:29] #80 closed

[2017-08-28 23:16] siznax opened #82 "Ensure imageinfo requests have valid input"
For example, the "Computer" page finds a blob of wikitext (including some HTML) in the ``image`` attribute of the Infobox. We assign that "image" to the ``page.image`` property as ``kind: parse-image`` indicating that we found that image from a ``page.get_parse()`` action. We always try to resolve images in the ``page.image`` attribute because they are the most likely candidates for the most appro

[2017-08-28 23:45] siznax opened #83 "Get aliases from Wikidata"
This is a high-level attribute (like "label" and "description") that should be included with Wikidata API results. Simply add "aliases" to the query props in ``wptools.query.wikidata()`` and put them in the ``page.aliases`` attribute.

Example: https://www.wikidata.org/w/api.php?action=wbgetentities&formatversion=2&languages=en&props=aliases|info|claims|descriptions|labels|sitelinks&redirects=yes&

[2017-09-05 20:15] siznax opened #84 "Update documentation for next release"
Refactoring the core module has created some fundamental changes that should be reflected in the docs before the next release:

1. Wptools.core is now an abstract base class from which ``WPToolsCategory``, ``WPToolsPage``, ``WPToolsRESTBase``, and ``WPToolsWikidata`` are derived.
1. Attributes derived from ``wptools.core`` include ``cache``, ``data``, ``flags``, ``params``.
1. Wikimedia response d

[2017-09-05 20:39] siznax commented on #77
Fixed with fast-forward merge of ``refactor-core`` branch, up to 3ef610f3850b7f388fa508a0654b4481062aaf41

[2017-09-05 20:39] #77 closed

[2017-09-05 20:40] siznax commented on #81
Fixed with fast-forward merge of ``refactor-core`` branch, up to 3ef610f3850b7f388fa508a0654b4481062aaf41 but the ``show()`` method stays in ``wptools.core``.

[2017-09-05 20:40] #81 closed

[2017-09-06 01:37] siznax commented on #43
Fixed with 81f03f8f5b713dae9c3fff0cb46b5abe5000c47d

[2017-09-06 01:37] #43 closed

[2017-09-06 04:20] #82 closed

[2017-09-06 17:04] siznax opened #85 "Consider presenting data attribute as namedtuple"
Instead of

[code]

we could type

[code]

[2017-09-06 18:24] siznax opened #86 "Surface any warnings Wikimedia APIs offer"
In ``wptools.core`` we should print API warnings to stderr, and capture them in the ``data`` attribute or somewhere.

[2017-09-06 18:56] siznax commented on #57
Let's implement continuations in a general way for any type of request, e.g.:

[code]

expensive query:

https://en.wikipedia.org/w/api.php?action=query&pclimit=5000&cllimit=500&clshow=!hidden&formatversion=2&imlimit=500&lllimit=500&prop=categories|contributors|images|langlinks|pageviews&redirects&titles=United%20States

response has _pccontinue_ (page contributors continue...!)

[code]

[2017-09-06 23:18] siznax commented on #79
Fixed with 2f36f76738b07da01492d5174bc9d0a38d995694

[2017-09-06 23:18] #79 closed

[2017-09-07 00:54] siznax commented on #86
action=query warning:

[code]

action=parse warning:

[code]

action=wbgetentities warning:

[code]

[2017-09-07 00:57] #86 closed

[2017-09-07 23:50] #83 closed

[2017-09-12 01:20] siznax commented on #85
Besides the dot-notation veering toward "unpythonic", namedtuples are immutable.

[2017-09-12 01:20] #85 closed

[2017-09-14 03:38] siznax opened #87 "Mixin get_wikidata(), get_restbase() in wptools.page"
We should be able to use ``get_wikidata()`` directly from ``wptools.wikidata`` and remove this function from ``wptools.page``:

[code]

Likewise for ``get_restbase()``

[2017-09-15 01:36] #87 closed

[2017-09-15 20:42] siznax commented on #75
The so-called "pageimage" (and thumbnails) from the APIs are now put in ``page.data['image']``. All other page images/files are put in ``page.data['files']`` via ``page.get_more()``

[2017-09-15 20:42] #75 closed

[2017-09-17 23:16] siznax commented on #78
Feature complete by 07e534642fa66d281a5201af0eaebe45f6ffb5ae

[code]

[2017-09-17 23:16] #78 closed

[2017-09-18 03:11] siznax commented on #45
Increased to 93% with 51fa42f4c16a4e89a150a7196a077e46b3021a4c

[2017-09-18 03:11] #45 closed

[2017-09-24 00:14] siznax commented on #84
Done!

[2017-09-24 00:14] #84 closed

[2017-09-24 01:40] siznax opened #88 "Build and distribute package for 0.4"

[2017-09-24 02:05] siznax commented on #88
https://pypi.python.org/pypi/wptools/0.4

[2017-09-24 02:05] #88 closed

[2017-09-27 17:23] siznax commented on #48
See #57

[2017-09-27 17:23] #48 closed

[2017-10-17 09:38] andresbravog opened #89 "Categories get"
There is a wiki page explaining how to get a specific category entity and its members: https://github.com/siznax/wptools/wiki/Categories

But when trying I do get:

[code]

And checking the code there is no method such as `cat` neither `category`.

How can I get this functionality working?

Thanks in advance

[2017-10-17 09:58] andresbravog commented on #89
nevermind if someone is dealing with this the correct usage is:

[code]

[2017-10-17 09:58] #89 closed

[2017-10-17 15:47] siznax commented on #89
Thanks for pointing this out, @andresbravog. I've updated the wiki. Category usage is ostensibly described here: https://github.com/siznax/wptools/wiki/Usage#category-usage. The "Knowledge base" page is where we keep notes about how we've done things and may not always be correct.

[2017-11-06 18:11] siznax commented on #68
I ran into this issue after upgrading to Mac OS 10.13 High Sierra, and this worked for me:

**Upgrade openssl**

[code]

**Export flags and build**

[code]

[2017-11-14 14:41] typistX commented on #25
I think what @seansay meant, and what someone like me came here looking for, is a way to "choose" from disambiguation options.

For example, if I search for "Everest" looking for the music band, `wptools.page('Everest')` will naturally give me the mountain, but if I'm letting a third party use this to only search for music bands, for example, I don't want him to get the wrong page. Is there a way

[2017-11-14 17:45] siznax commented on #25
Thanks for the comment, @typistX. We need to find a machine readable disambiguation result from the APIs and put that in something like ``page.data['disambiguation']`` when appropriate. I'll look into it.

[2017-11-15 02:32] seansay commented on #25
Thanks @typistX for the comment, I think what you mentioned it's the same problem I have. My initial task is to bind our local music database with the wikidata artist, so when I use `wptools.page('Phew', lang='en').`, if there's only one page then it's easier, but if it's a disambiguation page matches multi wikipedia pages then I need to iterate all the pages to find the correct one.

(It's been a

[2017-11-15 23:26] siznax commented on #25
Hehe, it has been a year, @seansay—time flies! Thanks again @typistX for reminding me to look again for a solution.

**Potential solutions**

In the "Phew" case, we get an obvious disambiguation result. In the "Everest" case, we get redirected. We need one of the following:

1. A MediaWiki API endpoint yielding redirect or disambiguation page candidates with page ids,
2. A disambiguation page pars

[2017-11-16 18:18] siznax commented on #25
The [Extension:Disambiguator](https://www.mediawiki.org/wiki/Extension:Disambiguator) does not currently support what we need, but there is a phabricator task that sounds promising: [T161349: Provide a structured way to represent disambiguation pages and give API responses](https://phabricator.wikimedia.org/T161349). It was opened on 24 March 2017. Hopefully there will be some progress on it.

In

[2017-11-16 18:42] siznax commented on #25
Using [Extension:Disambiguator](https://www.mediawiki.org/wiki/Extension:Disambiguator) and [API:Links](https://www.mediawiki.org/wiki/API:Links), we can get the disambiguation page links as titles (filtering on ns=0, or articles only) and indicate clearly that the result is a disambiguation with a ``page.data['disambiguation']`` member where I put the number of links:

[code]

It would be better

[2017-11-17 02:30] siznax commented on #25
I've added a ``page.data['redirected']`` from [API:Redirects](https://www.mediawiki.org/wiki/API:Redirects) to indicate when we've been redirected. It's a list because our query may include multiple terms in the future:

[code]

@typistX, this will help you know when you've been redirected. If you then want to get disambiguation links, you can try another call with "(disambiguation)" appended to t

[2017-11-17 03:08] siznax commented on #25
I've added ``page.data['disambiguation']``, ``page.data['links']``, ``page.data['redirected']``, and ``page.data['redirects']`` to the [Data captured](https://github.com/siznax/wptools/wiki/Data-captured) wiki page.

[2017-11-18 02:28] siznax commented on #25
These features are now available in [0.4.1](https://github.com/siznax/wptools/releases/tag/0.4.1)

[2017-11-19 04:17] siznax commented on #56
Making good progress on this... feedback welcome. (fyi @seansay)

[code]

[code]

[2017-11-21 04:53] siznax commented on #56
This is now available from release [0.4.2](https://github.com/siznax/wptools/releases/tag/0.4.2)

FYI @wearpants @l00mi @seansay

[2017-11-21 06:37] seansay commented on #56
@siznax
thank you so much for make this happen! 🍻

[2017-11-21 17:52] siznax commented on #56
@seansay, no problem! Feel free to close this issue if you like the solution. Not sure if it needs more work.

[2017-11-21 18:15] l00mi commented on #56
@seansay nice, thank you!

[2017-11-21 18:19] siznax opened #91 "Not getting some Infobox data in some languages"
Someone pointed this out [on Stack Overflow](https://stackoverflow.com/questions/34189426/parse-wikipedia-wikitext-template-named-parameters-to-extract-data-from-taxobox/39480770#39480770). In particular, getting some infobox data in French does not work. Supposedly, this is because Infoboxes have a different format in different languages?

[code]

[French](https://fr.wikipedia.org/wiki/Okapi?acti

[2017-11-21 18:33] siznax commented on #91
I'm not sure if we'll ever solve this for everyone. We should focus on Wikidata instead.

[2017-11-21 18:47] siznax commented on #91
Initial comparison of parsetrees.

English parsetree snippet:

[code]

French parsetree snippet:

[code]

[2017-11-21 18:51] siznax commented on #91
Btw, someone was nice enough to point this out [on Stack Overflow](https://stackoverflow.com/questions/34189426/parse-wikipedia-wikitext-template-named-parameters-to-extract-data-from-taxobox/39480770#39480770).

[2017-11-21 18:53] padodev commented on #68
@siznax  Have the same problem after upgrading to High Sierra.  But when I try to use your pip install command, it doesn't appear to be using CPPFLAGS

% ls /usr/local/opt/openssl/include/openssl/crypto.h
/usr/local/opt/openssl/include/openssl/crypto.h

% env | grep CPPFLAGS
CPPFLAGS=-I/usr/local/opt/openssl/include

% sudo -H pip install --no-cache-dir --compile --ignore-installed --install-optio

[2017-11-21 19:02] siznax commented on #68
@padodev, weird. I guess I would try it in a virtualenv, and also export LDFLAGS?

[2017-11-21 20:37] siznax opened #92 "Support for International Image Interoperability Framework (IIIF)"
How can we support the [IIF](http://iiif.io/) API spec? What kind of support do Wikimedia APIs currently offer? Maybe start here <https://github.com/IIIF/awesome-iiif>

[2017-11-27 20:53] siznax commented on #91
Getting Infobox data for some French articles does work:

[code]

[French](https://fr.wikipedia.org/wiki/Napol%C3%A9on_Ier?action=raw) wikitext:

[code]

[2017-11-27 21:00] siznax commented on #91
Not getting the **Spanish** Infobox data for this example either, because the name of the template does not include "box".

[code]

We could improve things by adding an argument for "infobox token".

[2017-11-27 23:45] mdcramer opened #93 "get_imageinfo() causes Python to hang"
Here is my code:
[code]
The output looks like this:
[code]
At the bottom of the error I get a `StopIteration: Hit REQUEST_LIMIT = 25`.

It should be very easy to reproduce. It would appear that, for whatever reason, the function gets stuck on the 'official portrait' until it hits the API rate limit. I've been able to sucessfully complete this with almost 500 other pages. If I had to take a wild gu

[2017-11-28 00:12] siznax commented on #93
Thanks, @mdcramer. This bug was introduced recently. I'm working on publishing a new release with the fix now...

[code]

Also, a new method for working with page images:

[code]

[2017-11-28 00:47] siznax commented on #93
Fixed with release [0.4.3](https://github.com/siznax/wptools/releases/tag/0.4.3)

FYI @mdcramer

[2017-11-28 00:47] #93 closed

[2017-11-28 00:55] mdcramer commented on #93
That was fast. Thanks!

[2017-11-28 01:00] siznax commented on #93
Hehe, I probably noticed it before you. Thank you for opening an issue!

[2017-11-28 03:31] siznax commented on #25
I'm going to call this done. We now have a reliable way to check for both disambiguation and redirection results, and we had some discussion about providing better disambiguation links.

[2017-11-28 03:31] #25 closed

[2017-11-28 03:36] siznax commented on #37
I'm going to close this. The most common exception I see now is `LookupError`, and it's unlikely we'll move away from pycurl.

[2017-11-28 03:36] #37 closed

[2017-11-28 03:39] siznax commented on #56
I think this looks good and I haven't heard any complaints about the format, so I'm going to close it so that people don't think this is an open issue with later releases.

[2017-11-28 03:39] #56 closed

[2017-11-28 03:44] siznax commented on #52
I'm going to close this until/unless we have more activity around variants.

[2017-11-28 03:44] #52 closed

[2017-11-28 03:56] siznax commented on #57
Clearly this can be done, but it may just complicate the tool.

Currently, we hit three different Wikimedia APIs for a single page/title, but you can already minimize the number of requests by calling only the API(s) you want. We block duplicate requests by caching, and we already minimize Wikidata and imageinfo requests.

Supporting continuations for multiple titles may optimize some use cases, b

[2017-11-28 03:56] #57 closed

[2017-11-28 14:25] typistX commented on #25
Sorry for not being responsive. I'll get reading now. Thanks for dealing with this swiftly.

[2017-11-29 02:36] siznax opened #94 "get_restbase() raises LookupError with slash in title"
Found this while [stress testing](https://github.com/siznax/wptools/wiki/Testing-in-python-2-and-3)...

[code]

A successful call from the [RESTBase endpoint browser](https://en.wikipedia.org/api/rest_v1/#!/Page_content/get_page_summary_title):

<https://en.wikipedia.org/api/rest_v1/page/summary/%2Fdev%2Fnull>

[2017-11-29 03:13] siznax commented on #94
Can't believe this hasn't been caught yet!

[2017-11-30 00:41] siznax commented on #91
I added the `boxterm` parameter to help capture Infoboxes that do not have "box" in the title. The previous example failed because we were looking for "box" in the title: "Ficha de taxón".  By adding `boxterm=Ficha` we can now get the Infobox data:

[code]

[code]

[2017-11-30 20:04] siznax commented on #94
Found another in stress testing... We still need to percent-encode titles with slashes in them...

[code]

[2017-12-01 07:50] #94 closed

[2017-12-13 20:57] Kiwibp opened #95 "TypeError on Windows 10"
[https://stackoverflow.com/questions/47801943/wptools-wikipedia-api-bug](https://stackoverflow.com/questions/47801943/wptools-wikipedia-api-bug)

I am a beginner level programmer and just following the process of submitting an issue is over my head so my apologies for not following procedure but if anyone can clarify whats going on here it would be much appreciated.  Thanks!

[2017-12-13 21:15] siznax commented on #95
Thanks for trying wptools, @Kiwibp. From your SO question:

[code]

I can't reproduce this. Can you give us more of the error message? The `get()` method is a convenience function that calls `get_query()`, `get_parse()`, etc. Maybe try one of those methods and post the full output here, like this:

[code]

[2017-12-13 21:30] Kiwibp commented on #95
Thanks for the quick response! Both of those methods still give me the same error:

TypeErrorTraceback (most recent call last)
<ipython-input-58-64409432cf2d> in <module>()
      1 # Your code here: get the E.T. page object
      2 # This cell make take a few seconds to run
----> 3 page = wptools.page('E.T._the_Extra-Terrestrial').get()
      4 page.get_query()

C:\Users\Keenan\Anaconda3\lib\site-

[2017-12-13 21:31] Kiwibp commented on #95
sorry this is what the code should look like.

[code]

It still gives me the same error message though.

[2017-12-13 21:33] Kiwibp commented on #95
Just to avoid confusion, here is the output when I ran the above code:

TypeErrorTraceback (most recent call last)
<ipython-input-59-a881fad338ef> in <module>()
      2 # This cell make take a few seconds to run
      3 page = wptools.page('E.T._the_Extra-Terrestrial')
----> 4 page.get_query()

C:\Users\Keenan\Anaconda3\lib\site-packages\wptools\page.py in get_query(self, show, proxy, timeout)

[2017-12-13 22:03] siznax commented on #95
Thanks, @Kiwibp . I see what's going on now. Can you try this on the offending computer?

[code]

Hopefully that gave you an error. But the following should work for you:

[code]

Can you confirm?

[2017-12-13 22:05] Kiwibp commented on #95
Thats correct.  The first bit of code gave me the same type error as before and the second bit of code outputs what you got as well.

[2017-12-13 22:32] siznax commented on #95
The fix for this is available in [v0.4.5](https://github.com/siznax/wptools/releases/tag/v0.4.5) @Kiwibp can you upgrade wptools and confirm the fix?

You can upgrade wptools likes this:

[code]

[2017-12-13 22:38] Kiwibp commented on #95
It works! Thanks so much for your prompt assistance.

[2017-12-13 22:39] siznax commented on #95
No problem, thanks for your help. Happy hacking!

[2017-12-13 22:39] #95 closed

[2017-12-18 08:31] ttropmail opened #96 "Prevent print?"
Is there a way to prevent the `.get_parse()` function from printing?
Example:
[code]

gives me:

[code]

And I only want `Piano`

[2017-12-18 08:57] ttropmail commented on #96
Never mind, I figured it out...

[code]

[2017-12-18 08:57] #96 closed

[2018-01-08 02:40] 67yuhjnm opened #99 "Support continuations for category members"
Hello, there are two questions which I need to ask for your help.

a. I want to get the all category members, but the limit is 500. How should I do this?

[code]

b. How can I get the "Subcategories" in page, such as "https://en.wikipedia.org/wiki/Category:BAFTA_winners_(people)"

Thanks in advance

[2018-01-09 01:37] 67yuhjnm commented on #99
The second question, subcategories list is behind the categories list in the results using the method in first question.

There is only the first question.

[2018-01-09 01:54] siznax commented on #99
Hi, @67yuhjnm. Thanks for trying wptools, and for opening this issue. You are right. We should support continuations for category members, and also be able to get subcategories. I'll work on continuations in this issue, and open a new issue for getting subcategories.

[2018-01-09 01:59] siznax opened #100 "Get subcategories with category members"
As requested in #99, let's add subcategories to `wptools.category.get_members()` requests as described in [API:Categorymembers](https://www.mediawiki.org/wiki/API:Categorymembers).

[2018-01-09 03:27] 67yuhjnm commented on #99
@siznax Thank you very much.
The limit of category members is 500, is there a method to get the all category members?
The category members of "Category:BAFTA winners(people)" are 758.

[2018-01-09 04:24] siznax commented on #99
@67yuhjnm that (500) is the limit of category members we can get _in one request_ (as described in [API:Categorymembers](https://www.mediawiki.org/wiki/API:Categorymembers)). So, if you look at `cat.query('category')` and follow [the link](https://en.wikipedia.org/w/api.php?action=query&formatversion=2&list=categorymembers&cmlimit=500&cmtitle=Category%3ABAFTA%20winners%20%28people%29):

[code]

yo

[2018-01-10 00:38] 67yuhjnm commented on #99
@siznax Thank you very much.

[2018-01-10 22:57] siznax commented on #99
I've added support for category continuations and put subcategories in a new `subcategories` data member with the commits referenced above:

[code]

So, this also fixes #100.

[2018-01-10 22:57] #99 closed

[2018-01-10 22:58] #100 closed

[2018-01-11 03:56] seansay opened #101 "Getting the wrong wikipedia url starting from wikibase ID"
Hi @siznax ,

Report a potential bug here.. this seems to work before.

I have a wikidata id of an [human](https://www.wikidata.org/wiki/Q722658), which I'll try to get the human chinese wikipedia page(which doesn't exist actually)..

The code I have is now something like

[code]

And somehow it gets to a User talk page on the chinese wiki,   it works fine with a wikidata id with a chinese wiki li

[2018-01-11 23:06] siznax commented on #101
Hey @seansay! Thanks for opening an issue.

Because we start only with a `wikibase` ID here, the `page.get()` method has to ask Wikidata for info first. Wikidata doesn't offer a Chinese title for that item, which you can see is missing from that [Wikidata page](https://www.wikidata.org/wiki/Q722658), but it does find `pageid: 679423`. That is the Wikidata page ID. You can verify that on the [Wikid

[2018-01-12 03:03] seansay commented on #101
@siznax

Hi Steve. Thanks so much for the help here!

Yes! This approach sounds good to me,  is something like this right?

[code]

To be honest I'm little confused here...
Is `pageid` something not global (like wikidata id), but local to the wikimedia instance?   If so, maybe we shouldn't use the wikidata page id to call the zhwiki's api?

[2018-01-12 04:32] siznax commented on #101
That's right @seansay. The Wikidata page ID is different from the Wikipedia page ID, e.g.:

* Q42 has [Wikidata pageid: 138](https://www.wikidata.org/w/index.php?title=Q42&action=info)
* Q42 has [zhwiki pageid: 120400](https://zh.wikipedia.org/w/index.php?title=%E9%81%93%E6%A0%BC%E6%8B%89%E6%96%AF%C2%B7%E4%BA%9A%E5%BD%93%E6%96%AF&action=info)

And, you are right. We should not use the Wikidata pag

[2018-01-12 20:15] siznax opened #102 "Wikidata image missing from non-English requests"
Currently, we get Wikidata images from `page.data['wikidata'].get('image (P18)')`, but that key will be different in most languages. For instance, in Japanese the Wikidata image key will be '画像 (P18)'. Take [Q252485](https://www.wikidata.org/wiki/Q252485) for example:

[code]

We should get Wikidata images from `page.data['claims']['P18']` for this to work in all languages:

[code]

[2018-01-12 20:36] #102 closed

[2018-01-12 20:42] siznax commented on #102
[code]

[2018-01-12 20:54] siznax commented on #101
Commit 3727904 should fix this @seansay

[code]

You can `assert 'title' in page.data` after calling `get_wikidata()`, or catch `ValueError` on the subsequent `get_query()`.

[code]

[2018-01-14 18:42] matkoniecz opened #103 "Question about caching"
Is caching something that every user should reimplement or is it planned to add built-in caching? Or is cache that allows to avoid rerequesting the same data on each run available somehow and I missed it?

[2018-01-14 19:40] matkoniecz opened #104 "Add image license info"
to use image correctly one needs to know about its license - for example what, if any, attribution is required

from looking at https://github.com/siznax/wptools/wiki/Images this library has no function with such functionality

[2018-01-14 19:45] matkoniecz opened #105 "Add image quality Assessment"
it may desirable to have ability to check whatever image is https://commons.wikimedia.org/wiki/Commons:Quality_images or https://commons.wikimedia.org/wiki/Commons:Featured_pictures

For example in my case I want to select single image from multiple articles, so it is preferable to select one marked as high-quality rather than random one

[2018-01-16 22:39] siznax commented on #103
Thanks for trying wptools @matkoniecz! Its caching features prevent requests for the same data, as described in the docs under [Request actions](https://github.com/siznax/wptools/wiki/Request-actions).

[2018-01-16 22:54] siznax commented on #104
Hi @matkoniecz. Mediawiki [API:Imageinfo](https://www.mediawiki.org/wiki/API:Imageinfo) does not offer license information. It is the user's responsibility to make proper use of API data as described in [API: Licensing](https://www.mediawiki.org/wiki/API:Licensing).

[2018-01-16 22:55] #103 closed

[2018-01-17 00:09] siznax commented on #105
Thanks for opening an issue @matkoniecz!

It looks like [API:Imageinfo](https://www.mediawiki.org/wiki/API:Imageinfo) offers Assessment info with `iiprop=extmetadata`:

https://commons.wikimedia.org/w/api.php?action=query&titles=File:Gull%20portrait%20ca%20usa.jpg&prop=imageinfo&iiprop=metadata|commonmetadata|extmetadata

[code]

So, I propose we put this information verbatim in a new 'metadata' a

[2018-01-17 00:15] siznax commented on #104
As mentioned in #105, it turns out that **API:Imageinfo** does offer image license info with `iiprop=extmetadata`:

File:Gull portrait ca usa.jpg: https://commons.wikimedia.org/w/api.php?action=query&titles=File:Gull%20portrait%20ca%20usa.jpg&prop=imageinfo&iiprop=metadata|commonmetadata|extmetadata

[code]

So, we'll put all of this info, verbatim, into a new `metadata` attribute for each image.

[2018-01-17 01:54] matkoniecz commented on #103
According to my tests it is using per-process cache, so there is no cache lasting between separate program runs.

My usecase requires cache persisting between program runs (probably stored as file) and I wonder is it easy to swap cache engine to achieve this.

[2018-01-18 03:28] siznax commented on #103
Hi @matkoniecz. We're not using any "cache engine". Maybe you can tell us more about how you're using the tool and we can decide if we need to add any features, but I think you should be able to keep track of your `page.cache[action]['request']`s somehow and don't call them again (unless you think you need to for some reason).

Here's an example of what the cache contains:

[code]

[2018-01-18 03:44] siznax commented on #103
Hi @matkoniecz. We're not using any "cache engine", but it should be straightforward to keep track of cached requests and avoid calling them again (unless you think you need to).

Here's an example of what caching currently looks like:

[code]

[code]

[code]

[code]

[code]

The `page.cache['query']['query']` member (above) is the request URL that was made by `get_query()` against the Mediawiki A

[2018-01-19 02:42] seansay commented on #104
@siznax
thanks! This is really useful!

[2018-01-19 17:18] siznax commented on #105
Note: our image metadata is called `extmetadata` because it comes from [Extension:CommonsMetadata](https://www.mediawiki.org/wiki/Extension:CommonsMetadata)

[2018-01-19 17:37] siznax commented on #104
Note: this image metadata is called `extmetadata` because it comes from [Extension:CommonsMetadata](https://www.mediawiki.org/wiki/Extension:CommonsMetadata) which appears to be stable.

[2018-01-19 17:53] #104 closed

[2018-01-19 17:55] #105 closed

[2018-01-19 17:57] siznax commented on #101
I'm closing this to include in the next release. @seansay, feel free to re-open if this does not work for you. Thanks again for reporting this!

[2018-01-19 17:57] #101 closed

[2018-01-19 17:58] siznax commented on #104
Including this in the next release. Thanks so much for opening this issue @matkoniecz!

[2018-01-19 17:59] siznax opened #107 "Update docs with new image metadata"

[2018-01-19 18:40] matkoniecz commented on #104
And thanks for implementing it!

[2018-01-19 20:59] siznax commented on #105
See also [Commons:Assessments](https://commons.wikimedia.org/wiki/Commons:Assessments).

[2018-01-19 21:05] siznax commented on #107
Added "Image Metadata" with examples to the [Images](https://github.com/siznax/wptools/wiki/Images) wiki page.

[2018-01-19 21:05] #107 closed

[2018-01-19 21:35] siznax commented on #104
No problem. We use Milestones to indicate what we're working on for the next release (see [Release v0.4.8](https://github.com/siznax/wptools/milestone/3?closed=1) milestone). That release is now available on [pypi](https://pypi.python.org/pypi/wptools/).

[2018-01-22 07:14] 67yuhjnm commented on #99
Thank you very much.

[2018-01-22 07:35] 67yuhjnm opened #108 "The structure of category tree"
Hello,
Wikipedia has a special page, called Category Tree. [](https://en.wikipedia.org/wiki/Special:CategoryTree)  We can obtain the all categories based on a tree structure online by clicking the category, such as [](https://en.wikipedia.org/wiki/Special:CategoryTree?target=Category%3AContents&mode=categories&namespaces=&title=Special%3ACategoryTree)  Is it possible to download all the tree nodes

[2018-01-23 16:46] TheoPortmann opened #109 "Only getting template value when Infobox contains template and other wikitext"
With some pages, french one, some fields of the infobox don't have the data shown in wikipedia but instead the {{,}}

In infobox part of page.data :

[code]

In parsetree :

[code]

I don't get the value [[cabernet franc]]

[2018-01-23 23:28] siznax commented on #108
Thanks for the question, @67yuhjnm. [Extension:CategoryTree](https://www.mediawiki.org/wiki/Extension:CategoryTree) does not seem to be part of the Wikimedia API.

You could accomplish the same thing by recursively getting all members of all subcategories with wptools, basically crawling the wiki's categories.

If this issue generates a lot of interest, then maybe we can start adding "crawler" fea

[2018-01-24 03:07] siznax commented on #109
Thanks for trying wptools, @TheoPortmann!

I see what's going on here. That value also contains the wikitext template: `{{,}}`. Currently, if an infobox value contains a template, we return the wikitext for it, which is why you get "`'cépages' = '{{,}}'`".

Like #91, this French Infobox wikitext is very complex. French Wikipedia desperately needs Infobox parity in Wikidata. I wonder how much time

[2018-01-24 03:24] 67yuhjnm commented on #108
OK, thanks to your explanation and suggestion.

[2018-01-26 16:58] siznax commented on #109
I've added a new approach to extracting values from the parsetree called "**iter**" in the comparison below. I think it is an improvement over the previous approach called "**find**" here. This new approach (**iter**) has the benefit of picking up TAIL text, as well as getting MORE templates and links mixed with `<ext>` tags (references, etc.).

The difference between the approaches is that `wptoo

[2018-01-26 17:02] TheoPortmann commented on #109
That's super nice, you really did a great job.

[2018-01-26 17:14] siznax commented on #109
Thank you. I hope it helps!

[2018-01-26 23:41] siznax commented on #109
This is now available in release v0.4.9 on pypi.

[2018-01-26 23:41] #109 closed

[2018-01-30 00:51] rexdouglass opened #111 "Usage with a local copy of a Wikipedia dump?"
This package is excellent, I've been trying to parse the raw xml dump for infoboxes and this package does it very well.

Is there a way to point wptools at a local copy of a wikipedia dump, so I can parse every single info box locally without having to hit wikipedia's servers over and over?

[2018-01-30 03:11] siznax commented on #91
I've added a more general infobox parser alternative that should handle "unusual" infobox wikitext:

[code]

[code]

[2018-01-30 03:29] siznax commented on #91
This has been fixed with release [v0.4.10](https://github.com/siznax/wptools/releases/tag/v0.4.10).

[2018-01-30 03:29] #91 closed

[2018-01-30 04:39] siznax commented on #111
Thanks for your question, @rexdouglass!

If you are running a local instance of MediaWiki, then you can use `wiki=<URI>` to access it with wptools:

[code]

If you have a local copy of a [Wikimedia dump](https://dumps.wikimedia.org/), then we may be able to work with it. We don't have a solution out-of-the-box yet. It's a splendid idea. Let's talk about how to accomplish it...

First of all, we do

[2018-01-30 05:10] rexdouglass commented on #111
Excellent! There is a lot of specialized knowledge here, so I'm going describe my experience to date without any assumptions its shared experience, and likewise I haven't worked much with MediaWiki or the live APIs.

My direct experience is with enwiki-latest-pages-articles.xml.bz2
Which is available https://dumps.wikimedia.org/enwiki/latest/
I believe the format and details for how its created ar

[2018-01-30 17:27] boompig opened #113 "Support for languages other than english"
I believe that `en.wikipedia.org` is hard-coded everywhere as the base URL for queries. Can this be replaced with a parameter (that defaults to `en.wikipedia.org`) so there can be support for other languages, for example `nl.wikipedia.org`?

[2018-01-30 19:13] siznax commented on #113
Thanks for trying wptools, @boompig. Supporting as many languages as possible is a core tenet of this package. As mentioned in the [wiki](https://github.com/siznax/wptools/wiki), you can use either the `lang`, or the `wiki` parameter:

[code]

[code]

Let us know if you think we can improve the docs somehow.

[2018-01-30 19:13] #113 closed

[2018-01-30 19:21] siznax commented on #111
Thanks for the examples, @rexdouglass. Hehe, yes, specialized knowledge. I'll share some more and try to avoid being pedantic. The XML dump is tantalizing, and working with it is what inspired me to make this package. However, it has a problem with respect to extracting data. If you take a look at the content model from your examples, you'll see that it is "wikitext":

[code]

Because [wikitext is

[2018-01-30 19:52] siznax opened #114 "Offer reference info with Infobox data for Wikidata import"
Perhaps, if we add the `<ext>`, `<ref>`, etc. tags that we drop when extracting Infobox data to another data member, say "`page.data['infobox_refs']`", then that might help developers use this tool to put that data into Wikidata by helping to satisfy the ["Add only verifiable information"](https://www.wikidata.org/wiki/Help:Statements#Add_only_verifiable_information) requirement.

Comments, sugges

[2018-01-30 22:28] siznax opened #115 "Support "one-click" uploading of Infobox data to Wikidata"
It would be helpful to everyone if we could submit Infobox data that this tool finds in Wikimedia projects to Wikidata when it is helpful. We should offer a simple method to make this easy, for example `upload()`. Here's what we need to accomplish this:

1. Determine if this is possible via the [Wikidata API](https://www.wikidata.org/wiki/Wikidata:Data_Import_Guide)
1. Offer "references" data with

[2018-01-31 03:10] rexdouglass commented on #111
Thank you very much for the extensive feedback and advice.

I tried two things today, one failed and one successful. The failed attempt was at getting a local copy of mediawiki running. It was a great idea, there are just lots of hurdles involved in importing the xml dump. I tripped in two places- (1) unicode characters not being configured somewhere either on the MSQL end or on the mwdumper side

[2018-01-31 16:55] siznax commented on #111
Brilliant! I'm glad you found a workable path. And thank you for sharing the details!

[2018-01-31 16:55] #111 closed

[2018-01-31 17:04] siznax opened #116 "Support accessing Wikimedia dumps directly"
We should provide a subset of features for accessing Wikimedia dumps on disk. We may even want to use [mwparserfromhell](https://github.com/earwig/mwparserfromhell) to parse the wikitext as mentioned in #111.

[2018-02-25 07:06] ikelca commented on #68
I have same issue here,im on high Sierra
running
`sudo pip3 install --no-cache-dir --install-option="--with-openssl" pycurl`
gives error as following

`Running setup.py install for pycurl ... error
    Complete output from command /Library/Frameworks/Python.framework/Versions/3.6/bin/python3.6 -u -c "import setuptools, tokenize;__file__='/private/tmp/pip-build-klzshss8/pycurl/setup.py';f=getattr(t

[2018-03-19 17:46] dimoes opened #117 "Percent-encoded title causes API Error"
The following error is thrown when attempt to fetch title with odd character. Works works fine calling Wikimedia api directly.

Title=H%C3%B4tel_particulier

Error: API error: {u'info': u'Bad title "H%C3%B4tel_particulier".', u'code': u'invalidtitle', u'docref': u'See https://en.wikipedia.org/w/api.php for API usage. Subscribe to the mediawiki-api-announce mailing list at &lt;https://lists.wikimed

[2018-03-19 19:12] siznax commented on #117
Thanks for trying wptools, @dimoes!

The WMF APIs need URL-encoded titles because they work directly over HTTP, but wptools wants a human-readable title. You can use `urllib.unquote()` to unquote your titles like this:

[code]

[2018-03-21 01:26] #117 closed

[2018-04-09 16:03] cmoen opened #118 "API warning on get()"
Thanks for wptools.  I'm using version 0.4.11 and I'm getting a warning on `get()` and I'm wondering if there's a way this can be suppressed or otherwise worked-around.

Here's a way to reproduce this warning:

[code]

In my case, I don't really need `extracts`, but I would like to get many of the other data points that are captured by `get_query()` behind the scenes.

Is there a different way I s

[2018-04-09 18:10] siznax commented on #118
Thanks for trying wptools, @cmoen! I'll see if we can adjust our API query to avoid that warning, or provide a way to suppress warning messages.

[2018-04-10 13:56] cmoen commented on #118
Thanks for looking into this so quickly.  I've built my code against the `master` branch and I can confirm that this seems to be working according to expectations.   Thanks again.

[2018-04-29 22:45] siznax commented on #118
FYI, I made point release v0.4.12 for this fix, so you should be able to `pip install --upgrade wptools` for this now.

Thanks for the reminder @peeter-t2!

[2018-04-30 08:39] peeter-t2 commented on #118
Thanks!!

[2018-05-05 01:26] ferchaure opened #119 "get Backlinks from page?"
It would be useful to obtain the backlinks from a page. Is it possible?

https://www.mediawiki.org/wiki/API:Backlinks

[2018-05-05 22:40] siznax commented on #119
Thanks for trying wptools and opening this issue @ferchaure! I've committed the initial update to support getting backlinks. We'll need to add support for continuations (`blcontinue` in the response) to complete this feature. It should work the same way as `cmcontinue` for categories. I should be able to get to that in the next few days. You're welcome to submit a pull request if you get to it fir

[2018-05-07 22:30] siznax opened #120 "Put API Warnings in data attribute"
In #118 we turned API warnings off when `silent=True`, but those warnings still obscure `stdout` when `silent=False`...

[code]

So, let's put warnings in the data attribute:

[code]

[2018-05-07 23:50] siznax commented on #119
Need to add `data['backlinks']` to the wiki ([Data captured](https://github.com/siznax/wptools/wiki/Data-captured)). Also, I added more general "continue" methods to `wptools.core` for this feature, so we should make use of them in `wptools.category` to bring it into harmony.

[2018-05-08 00:48] #120 closed

[2018-05-08 00:58] siznax commented on #119
This is now available in v0.4.13. Thanks again for opening an issue, @ferchaure!

[2018-05-08 00:58] #119 closed

[2018-05-11 21:22] siznax opened #121 "Failing to get cover image"
It looks like we're capturing "Cover" images in infoboxen, but not (lower-case) "cover" image:

[code]

[2018-05-11 23:23] #121 closed, assigned to nobody

[2018-05-18 16:54] siznax opened #122 "Move expensive get_query() backlinks to get_more()"
Getting backlinks (see #119) often causes multiple/many requests. Let's consider moving that feature to `wptools.page.get_more()`.

[2018-05-21 07:59] babaakki25 commented on #65
Hello, I am facing a similar issue in Python3.5.2. I have tried everything mentioned above.

[2018-05-23 03:55] #122 closed

[2018-05-23 20:27] siznax opened #123 "Reconcile data captured in docstrings"
Currently, `backlinks` is missing from `wptools.page.get_querymore()` docstring.

[2018-05-25 03:48] siznax opened #124 "Give page wikidata more structure"
Currently, our `page.data['wikidata']` dictionary is flat. For example:

[code]

We should make it less flat and more like Wikidata statements:

[code]

Note that the value of 'value' can be a string, list, or dictionary, so it may further complicate the structure if we expand values in the same way.

And we should provide useful methods to query wikidata that return entire statements or lists of

[2018-05-26 19:07] mcepl opened #125 "Please package tests/ directory as well"
Hello,

I am helping with packaging your program for openSUSE, and it would be awfully nice, if we could run ``python setup.py test`` during the packaging process.

[2018-05-30 20:33] #125 closed

[2018-06-17 21:41] nguillermin commented on #68
For @ikelca and all those who stumble here, try this move from the pycurl github tracker https://github.com/pycurl/pycurl/issues/530

[2018-07-06 02:16] zzz opened #127 "Add support for alternate API endpoints"
Some wikis have different endpoints. It would be helpful to be able to change the default endpoint.

[2018-07-06 03:18] seansay commented on #127
hi @zzz

Can you give an example of this?  Just for better understanding the issue

[2018-07-06 04:06] siznax commented on #127
Thanks for responding, @seansay!

@zzz contacted me about this, and I asked him to open this issue.

It looks like some instances of MediaWiki use different API endpoints, e.g.

English Wikipedia:
https://en.wikipedia.org/w/api.php

Gamepedia:
https://hearthstone.gamepedia.com/api.php

So, `/api.php` instead of `/w/api.php` here.

I have a patch for this I plan to commit soon...

[code]

[2018-07-07 17:31] siznax commented on #127
Hmm... one of our test cases is [failing](https://travis-ci.org/siznax/wptools/jobs/401109410) now, but it seems to be unrelated to recent updates:

[code]

That test passes for me in python 3.6.3:

[code]

[2018-07-07 22:00] zzz commented on #127
Windows 10, Python 3.6.6.

[code]

[2018-07-08 23:49] siznax commented on #127
Thanks for the unit test confirmation and for opening this issue @zzz

Support for this is now available in v0.4.16

[2018-07-10 04:54] #127 closed

[2018-07-29 21:30] antifa-ev opened #128 "Check for existence of an article"
How can I check for existence of a page before parsing it?

[2018-07-30 17:36] siznax commented on #128
Thanks for trying wptools @antifa-ev!

`LookupError` is raised when a page cannot be found.

[code]

[2018-07-30 17:36] #128 closed

[2018-08-02 14:09] maheshwabale1 commented on #68
pip install --no-cache-dir --compile --ignore-installed --install-option="--with-nss" pycurl

Works for me for centos6

[2018-08-12 22:48] TeCoGenie opened #129 "link list limited by 500"
The page.data['links'] list returns only the first 500 links.

[2018-08-12 23:50] siznax commented on #129
Thanks for trying wptools @TeCoGenie!

For testing, can you give me an example of a page that has more than 500 links?

[2018-08-13 15:33] nsebban opened #130 "Use from behind a proxy that requires an authentication ?"
Hello,

I read in the docs that I can configure wptools so it uses a proxy for HTTP request, but I can't seem to make it work with a proxy that requires an authentication.

I have been using the "http://<user>:<pass>@host:port" syntax, but it doesn't take the user/pass into account. Is there a way to make it work ?

Thanks in advance.

[2018-08-13 19:17] siznax commented on #130
Thanks for trying wptools, @nsebban!

I'll look into providing support for proxy auth with pycurl. We haven't tried that yet!

[2018-08-16 22:12] siznax commented on #130
I've added the option to supply proxy auth parameters as a dict:

[code]

@nsebban please try these options and let us know if they work for you.

There are [more options we can try](https://curl.haxx.se/libcurl/c/curl_easy_setopt.html) as well.

[2018-08-20 19:01] siznax commented on #130
This fix was released with v0.4.17.

[2018-08-20 19:01] #130 closed

[2018-09-07 00:58] siznax opened #131 "Consider using new Page Content Service"
https://www.mediawiki.org/wiki/Page_Content_Service

It appears that `extracts` from [Extension:TextExtract]() is going away...

[Cabinet of curiosities](https://en.wikipedia.org/w/api.php?action=query&exintro&formatversion=2&inprop=url|watchers&list=random&pithumbsize=240&pllimit=500&ppprop=disambiguation|wikibase_item&prop=extracts|info|links|pageassessments|pageimages|pageprops|pageterms|redire

[2018-09-19 22:31] Voidi opened #132 "Parsed infobox data contains operator in right-hand-side"
I'm like to use wptools to extract the content of infoboxes from the MediWiki instance at [de.wiki-aventurica.de](https://de.wiki-aventurica.de). Testing with the english wikipedia produces results as expected.

After parsing - for example [de.wiki-aventurica.de/wiki/Benutzer:Voidi/Sandkasten](https://de.wiki-aventurica.de/wiki/Benutzer:Voidi/Sandkasten) - the infobox dict has values that are wron

[2018-09-20 09:41] Voidi commented on #132
The Wikitext as shown in the Web editor:
`{{Infobox Dämon
| Name = gg
| Bild = g
| Art = g
| Klasse = f
| Beinamen = f
| Domäne = Test2
| Lehrmeister = d
| Niederschrift = d
}}`

[2018-09-20 16:37] siznax commented on #132
Thanks for trying wptools @Voidi! The wiki is probably fine. You can access the raw wikitext like so:
https://de.wiki-aventurica.de/wiki/Benutzer:Voidi/Sandkasten?action=raw

I'll look more closely at how we are parsing this particular wikitext. Thanks for the simple example!

[2018-09-27 20:38] fredzannarbor opened #133 "how do I specify a mediawiki URL that requires an SSL certificate?"
[code]

[2018-09-29 18:42] Voidi commented on #132
I compared the XML parse tree from the example in my wiki instance and a site from wikipedia:

1.
[Ghandi](https://en.wikipedia.org//w/api.php?action=parse&format=json&formatversion=2&contentmodel=text&disableeditsection=&disablelimitreport=&disabletoc=&prop=text|iwlinks|parsetree|wikitext|displaytitle|properties&redirects&page=Ghandi)

`<part><name> name </name><equals>=</equals><value> Mohandas

[2018-10-11 18:46] siznax commented on #133
Thanks for trying wptools, @fredzannarbor!

We use [certifi](https://certifi.io) for certificate verification with [pycurl](http://pycurl.io/).

`wptools/wptools/request.curl_setup():`

[code]

If you want to provide your own CA bundle, we can expose `CAINFO` or `CAPATH` (see [curl_easy_setopt docs](https://curl.haxx.se/libcurl/c/curl_easy_setopt.html)).

Do you think either one of those could wor

[2018-10-21 19:31] Voidi commented on #132
`de.wiki-aventurica.de` has Mediawiki Version 1.30.0 and the english wikipedia has Version 1.32.0.

[2018-10-24 16:58] siznax commented on #132
Like I said, @Voidi, in general Infobox data may require some cleanup because the data source is unstructured. Take a look at `wptools.utils.template_to_dict` and let us know if you think we can make any improvements.

[2018-11-05 21:24] TeCoGenie opened #134 "How to supress console output"
Every time I make a query, the object is printed to the console. How can I turn off theese debug messages?

[2018-11-05 22:42] siznax commented on #134
Thanks for trying wptools, @TeCoGenie!

Please take a look at our [usage](https://github.com/siznax/wptools/wiki/Usage) examples in the wiki. You can use the `silent=True` flag to suppress the `show()` command:

[code]

However, the object will be printed to the python console after a query because the query has returned the calling object, which allows us to "chain" queries together (as shown abo

[2018-11-05 22:43] siznax commented on #132
Closing for now. Please re-open if you have more related questions @Voidi.

[2018-11-05 22:43] #132 closed

[2018-11-06 17:46] #134 closed

[2018-11-06 22:59] TeCoGenie commented on #134
Thank you. That is what I needed!

[2018-11-13 16:52] antifa-ev opened #135 "wptools installs files to weird places"
wptools installs files to weird places:

[code]

I've installed it like I install most python packages since 10 years: `python setup.py install --optimize=1`

[2018-11-13 17:52] siznax commented on #135
Thanks for trying wptools @antifa-ev!

Things have improved a bit in ten years. 😄 We recommend using a [virtualenv](https://virtualenvwrapper.readthedocs.io) to control where things end up on your system.

Please take a look at our `setup.py` and let us know if you think we can improve it.

[2018-11-13 17:54] siznax commented on #133
Feel free to re-open if you want to continue the conversation @fredzannarbor.

[2018-11-13 17:54] #133 closed

[2018-11-13 23:13] antifa-ev commented on #135
Actually I don't wont to use anything like virtualenv, conda or pypi.

[2018-11-13 23:18] siznax commented on #135
Then, you may have to accept where your system puts files with `python setup.py install --optimize=1`

Is there something else you think we can do to help?

[2018-12-04 18:02] siznax commented on #135
Feel free to re-open if you have any more ideas about this.

[2018-12-04 18:02] #135 closed

[2018-12-19 18:01] LukeTonin commented on #65
I encountered a similar issue and the problem was pycurl was not installed and it's installation was failing due to missing libraries. I ran:
[code]
After that I could install wptools without a problem.

[2019-01-11 02:52] RonaldoGuastalli opened #136 "Jupyter Notebook ModuleNotFoundError: No module named 'wptools'"
1. I create an virtual env (uso_wptools),
2. after source ativate uso_wptools
3. pip install wptools
4. conda install jupyter
5. open my project in jupyter notebook
6. in a line import wptools
7. recived an error: `ModuleNotFoundError: No module named 'wptools'`

this is my conda list:

[code]

[2019-01-11 02:58] siznax commented on #136
Thanks for trying wptools @RonaldoGuastalli

I'm not sure how to help you with this. Have you seen this thread?

https://github.com/jupyter/notebook/issues/2359

[2019-01-11 03:01] siznax commented on #136
In fact, looks like a common problem. Here's another:

https://github.com/jupyter/notebook/issues/1524

[2019-01-11 05:36] RonaldoGuastalli commented on #136
1 - I used Installing jupyter_environment_kernels
[Installing jupyter_environment_kernels](url)
2 - edit the file kernel.json
[https://github.com/jupyter/notebook/issues/2359#issuecomment-318061445](url)

[2019-01-11 05:37] #136 closed

[2019-01-11 21:15] RonaldoGuastalli commented on #136
yes, you help me!

[2019-01-29 22:20] wbagais opened #137 "install wptools in anaconda env"
I want to install wptools in conda env to open it in jupyter notebook.

I tried "pip install wptool"  and then when I tried "conda list" it shows:
wptools                   0.4.17                    <pip>

**however, when I "import wptools" below error msg appears:**
[code]

[2019-01-30 18:05] siznax commented on #137
Thanks for trying wptools @wbagais!

I'm not familiar with anaconda or jupyter notebooks, but it looks like your `anaconda3` virtual environment cannot load the `pycurl` library. You might want to search for non-specific parts of the error message.

When I search for "python conda ImportError Reason: image not found" I get some potentially useful results, like this one: https://stackoverflow.com/q

[2019-02-07 19:28] #137 closed

[2019-02-13 18:06] baerbock opened #138 "Infobox with non-latin name"
I would like to extract the infobox of the [Bulgarian Railway Line No. 1](https://bg.wikipedia.org/wiki/%D0%96%D0%B5%D0%BB%D0%B5%D0%B7%D0%BE%D0%BF%D1%8A%D1%82%D0%BD%D0%B0_%D0%BB%D0%B8%D0%BD%D0%B8%D1%8F_1_(%D0%91%D1%8A%D0%BB%D0%B3%D0%B0%D1%80%D0%B8%D1%8F)) article.
[code]
which fails.

Are infoboxes not detected if they are named in an unsual manner (**ЖП линия**)?

[2019-02-14 16:23] danyaljj opened #139 "AttributeError: module 'wptools' has no attribute 'page'"
A beginner here:  any thoughts where the following code is going wrong?

[code]

Here is the error I am getting:
[code]

[2019-02-14 17:44] siznax commented on #139
Thanks for trying wptools @danyaljj!

Your test function works for me. Can you try it in the python repl?

[code]

[2019-02-14 18:08] siznax commented on #138
Thanks for trying wptools @baerbock!

We should have support this with `boxterm=ЖП линия`:

[code]

but that currently raises a `UnicodeDecodeError` in this case:

[code]

I'll have to take a closer look at what's causing this.

[2019-02-15 19:28] danyaljj commented on #139
Turns out the issue was because of `pycurl`.

The solution discussed [here](https://stackoverflow.com/questions/51075738/install-pycurl-after-mac-update-to-high-sierra-ssl-error) solves my problem:

[code]

[2019-02-15 19:28] #139 closed

[2019-03-04 20:30] siznax commented on #138
Sorry for the delay here. Hope to get to this soon... 😃

[2019-04-19 04:14] xinyadu opened #140 "from which version of wikipedia articles are the APIs extracting?"
from which version of wikipedia articles are the APIs extracting?

[2019-04-22 17:22] siznax commented on #140
Hi @xinyadu!

We don't specify a version, so we get the latest revision, and we do not currently show `revisionid` in the `data` attribute. If we do, we can get it from `lastrevid` returned by `get_query`, for example:

[code]

from the result...

[code]

Would it be helpful to have `lastrevid` appear in `random_page.data['revision']`?

[2019-05-28 15:34] TheAmenRa opened #141 "Multiprocessing / Multithreading support"
Hello, I'm considering this tool for research purpose and I'm wondering if I can use it with multiprocessing/multithreading in order to send multiple requests in parallel.

Is any protection against having the IP banned or stopped for a while implemented in some part of the code?

If no, should I care about it and put a delay in a parallelized request pipeline or avoiding it at all?

Thanks

[2019-05-28 19:47] siznax commented on #141
Thanks for considering wptools @TheAmenRa! There is no protection in wptools against being banned. We do not support parallel requests in order to avoid issues. Please see: https://www.mediawiki.org/wiki/API:Etiquette

That said, there is nothing stopping you from making parallel requests. 😬 Please patch the user-agent with your contact info.

Alternatively, you can process dumps at your own pace:

[2019-06-16 03:56] #141 closed

[2019-07-31 09:59] ohoroyoi opened #142 "infobox exists but can't get that"
<img src="https://user-images.githubusercontent.com/41815567/62202581-83572880-b3c4-11e9-8210-5bbdfa30e054.png" width="90%"></img>
there  definitely  exists infobox.

https://stackoverflow.com/a/10180899/10194999

[2019-08-01 16:11] siznax commented on #142
Thanks for trying wptools, @ohoroyoi!

You are correct. I appreciate the highlighted screen grab. The `infobox` is in the `data` attribute of your `air_test` result. You can access it with `air_test.data['infobox']`.

[code]

 There are more [examples on the wiki](https://github.com/siznax/wptools/wiki/Examples).

Hope that helps!

[2019-08-01 16:11] #142 closed

[2019-08-27 09:33] xieexiaotuzi opened #143 "pycurl.error: (35, 'Unknown SSL protocol error)"
Hi, when I run
"infobox = wptools.page('Nexus Q').get_parse().data['infobox']"

I always get the error
"pycurl.error: (35, 'Unknown SSL protocol error in connection to en.wikipedia.org:443 ')"

In detail,
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "//anaconda/lib/python2.7/site-packages/wptools/page.py", line 521, in get
    self.get_query(False, proxy, timeout

[2019-08-27 09:33] xieexiaotuzi commented on #143
@siznax

[2019-08-29 16:48] siznax commented on #143
Thanks for trying wptools, @xieexiaotuzi! This is a fairly common problem with pycurl on some systems. Please see https://github.com/siznax/wptools/issues/68 and let me know if you still have trouble.

[2019-08-29 17:03] siznax commented on #143
Hi @xieexiaotuzi. Thanks again for trying wptools. I deleted my previous comment because I misunderstood the problem. It's working for me, so I think you may be blocked from accessing `en.wikipedia.org` for some reason.

[2019-08-29 17:26] siznax commented on #143
Please look into these tools: `curl` and `openssl`. For example, on my system:

[code]

You may learn something from this command too:

[code]

You can use https://brew.sh/ to install these packages on Mac OS.

[2019-08-29 21:51] lisongx commented on #143
@siznax
Could be accessing issue,  make sense to try using curl or wget to fetch a page to see.

I know some territory think Wikipedia is blocked (like China and Iran)

[2019-08-30 00:45] JianyuZhao7 commented on #143
@lisongx Thanks for your answer. I try to access from U.S. using vpn and failed too. So any ideas? Thanks.

[2019-08-30 09:58] lisongx commented on #143
@JianyuZhao7
Do you have the same issue as @xieexiaotuzi ?
what if you try use curl to request the en wikipedia?
 `curl -I https://en.wikipedia.org/wiki/Nexus_Q`

[2019-09-30 17:37] #140 closed

[2019-09-30 19:11] asifkhan69 commented on #143
if you are using Mac with High Serria try this:
uninstall your wptools and pycurl and than do this to install pycrul
pip uninstall pycurl
export PYCURL_SSL_LIBRARY=openssl
export LDFLAGS=-L/usr/local/opt/openssl/lib;export CPPFLAGS=-I/usr/local/opt/openssl/include;pip install pycurl --compile --no-cache-dir

install wptools again than see still you are getting this error.

[2019-10-01 19:20] asifkhan69 opened #144 "wptools documentation"
Can we get more detail documentation with examples specially how to get data for wikidata method once it is fetched such as to get "date of birth, gender" which can cover for people who are new to python. There are examples but not enough to utilise this great package for usage.

[2019-10-02 18:36] siznax commented on #144
Thanks for the suggestion @asifkhan69. Will do!

[2019-10-09 19:53] siznax commented on #143
@naspuka @asifkhan69 this issue is about a pycurl _error_, not about pycurl _installation_.

Please see #68 to resolve pycurl setup issues, usually related to SSL library paths.

[2019-10-09 19:54] siznax commented on #68
If nothing above works for you, see:

* https://cscheng.info/2018/01/26/installing-pycurl-on-macos-high-sierra.html
* https://github.com/transloadit/python-sdk/issues/4

[2019-10-10 00:25] sharonwoo commented on #144
That's a great idea @asifkhan69.

@siznax, is the best way to do this to edit the wiki page? Thanks in advance :)

[2019-10-10 17:22] siznax commented on #144
Yes, @sharonwoo. Let's create a new page to collaborate on.

[2019-11-05 15:26] lm913 opened #145 "Multiple Results"
**Example:** shoulder bag

When I use `page = wptools.page('shoulder bag')` wptools returns the Wikipedia disambiguation page, however, when searching directly in Wikidata there are multiple entries for 'shoulder bag'

![image](https://user-images.githubusercontent.com/6440325/68220836-bb37c280-ffe8-11e9-9802-0045fd516267.png)

The results I am looking for is the first in the list _"**shoulder bag

[2019-11-06 01:21] siznax commented on #145
Thanks for trying wptools @lm913!

The wikidata item you want (Q29486521) can be got with `wikibase` like this:

[code]

as shown in our [Usage](https://github.com/siznax/wptools/wiki/Usage) wiki page.

However, you'll notice that the wikidata item in question (https://www.wikidata.org/wiki/Q29486521) has no Wikipedia entries.

Does that make sense?

[2019-11-06 08:19] lm913 commented on #145
Thank you for your quick response!

Let me describe my use case more. I have around 6000 words that I want to get the Q-IDs for and wanted to use a script to query on the word, not the Q-ID, since I only have the word as a starting point.

I suppose I could flag all the words that return a Wikipedia disambiguation page and look into them further but wanted to know if there was a way, using a word

[2019-11-06 11:04] lm913 commented on #145
Thanks @lisongx I looked into that earlier but unfortunately doesn't show the 'shoulder bag' specifically which does exist in Wikidata

[2019-11-06 13:31] lisongx commented on #145
@lm913
I think adding search by wikidata it's not that hard, but it's maybe something not already in the package? @siznax Steve would know

Maybe you could try directly search wikimedia api for wiikidata, and then doing other stuff with the wikdiata id you get from there,

For example, if you request this URL,

```https://www.wikidata.org/w/api.php?action=wbsearchentities&search=shoulder+bag&forma

[2019-11-06 13:36] lm913 commented on #145
This is a great solution @lisongx ! Thank you so much :)

[2019-11-07 10:19] lm913 commented on #145
**Side issue:**

shoulder bag (desired Q-ID): Q29486521
shoulder bag (disambiguation Q-ID): Q7502696

**Query code:**
[code]

**Output:**
[code]

the `page.results.data` for querying Q-ID: Q29486521 (desired shoulder bag) returns data for the Wikipedia Disambiguation Page

[2019-11-07 11:45] lisongx commented on #145
@lm913

`Q29486521` doesn't have any Wikipedia page related to this, I guess `wptools` still trying to search that based the label `shoulder bag` somehow.

But from the above, I think the claims are correct, right?
[code]

Would you be able to use this data from wikidata to accomplish your task?
(I notice `page.data['wikibase']` is different from the one we passed in, you may use that as a rule fo

[2019-11-07 23:27] siznax commented on #145
Thanks for your help Sean @lisongx ! It's true, we do not currently support Wikidata's `wbsearchentities` action, and I hope we can avoid doing that.

@lm913  I believe this result is still self-consistent. Note the `page.data['redirects']` item:

[code]

This is telling us that we got redirected from our original query.  The full result may be misleading because the final wikibase item (Q) is dif

[2019-11-08 00:29] siznax commented on #145
@lm913 After reading your use case again (https://github.com/siznax/wptools/issues/145#issuecomment-550198000) I realize now what the confusion is: **you want Wikidata items from Wikidata titles**, but wptools does not search Wikidata, it only fetches Wikidata with an item id (Q). Searching Wikidata for the right Q item can be done directly from the Wikidata API:

https://www.wikidata.org/w/api.ph

[2019-11-08 00:55] siznax commented on #145
On the other hand, it may be useful to show search results for a title from both Wikipedia and Wikidata. What would a useful search command look like? Maybe...

[code]

Wikidata result:
https://www.wikidata.org/w/api.php?action=wbsearchentities&language=en&search=shoulder%20bag

Wikipedia result:
https://en.wikipedia.org/w/api.php?action=opensearch&search=shoulder%20bag

@lm913 would that help sol

[2019-11-08 16:34] wovendan opened #146 "mostviewed for en.wikipedia.org Returning Empty"
I've tried a lot of variations- seems like only the  en.wikipedia.org  site produces an empty list.  en.wikipedia.org is the default so I've tried with no params and etc...

site = wptools.site()
site.get_info('ja.wikipedia.org')
has expected results (a bunch of most viewed pages in data.mostviewed)
site = wptools.site()
site.get_info('en.wikipedia.org')
does not, instead gives:
mostviewed: <list(

[2019-11-08 17:59] siznax commented on #146
Thanks for trying wptools @wovendan!

Weird. Looks like an issue with the [PageViewInfo](https://www.mediawiki.org/wiki/Extension:PageViewInfo) extension on `enwiki`:

https://en.wikipedia.org/w/api.php?action=query&list=mostviewed

[code]

The bug has been reported: https://phabricator.wikimedia.org/T233381

I've asked there if there is an alternative. In the meantime, I'll look for another one.

[2019-11-09 02:08] wovendan commented on #146
Ah thanks a million @siznax - its been driving me nuts but I would never have found that page on which I see you've added a comment and request for resolution! Your wrapper has helped me to have a go at integrating wikip stuff in a site I'm developing - if I can make the site pay for itself I'll buy you some beers- thanks very much for your efforts! Hugs. Dan    ps. in case the info is any use: mo

[2019-12-29 07:26] alexzabbey opened #147 "Is it possible to change the pycurl dependency?"
Installing pycurl on windows is a real hassle

[2019-12-31 18:40] siznax commented on #147
Thanks for trying wptools @alexzabbey. That's a good idea! Will try to implement, or you're welcome to submit a PR... 😉

[2019-12-31 18:42] siznax commented on #146
Seems to be working again!

[2019-12-31 18:42] #146 closed

[2020-01-01 12:28] alexzabbey commented on #147
I found this in request.py:
[code]
I guess that means you've tried to use requests instead of pycurl but it was slower. Is it that significant?
I think helping windows users is more important, and we can probably work to speed things up in requests with sessions and so on or alternatively try doing the requests asynchronously.
What do you think?

[2020-01-07 22:52] siznax commented on #147
Yes, I started with `requests`, but couldn't figure out why it was so much more slow than just using `curl`. Turns out, all of that scaffolding around `urllib3` is costly. I found, up to 3x more costly.

I agree that offering `requests` as an alternative for folks having trouble with `pycurl` would be good. Worse performance is better than _no_ performance, heh.

[2020-01-08 10:42] lisongx commented on #147
That's really noticeable difference!
I found a benchmark project which documents some of the python request client  https://github.com/svanoort/python-client-benchmarks

[2020-02-11 04:54] woshichuanqilz opened #148 "how to solve the traffic network issue?"
When I use this package, I get a response like this

Our systems have detected unusual traffic from your computer network.

 But  I can  access  wiki  Normally from my browser.  How to solve this problem? ?

![image](https://user-images.githubusercontent.com/11295355/74212121-a9dc1180-4ccd-11ea-8907-a30f95d51d46.png)

[2020-02-11 22:11] siznax commented on #148
Thanks for trying wptools @woshichuanqilz

The URL reported above is a google.com URL. I don't think it's coming from the MediaWiki API.

What happens when you click "Why did this happen?"

[2020-03-04 21:32] atnjqt opened #149 "WPTools call for historic articles?"
Is it possible to pass a specific **revision ID** to `wptools.page()`?

I notice the help file `wptools.page?` indicates there is an _optional_ parameter of **pageId**, but this does not mention anything about **revId** or **oldId**...

Specifically, I am interested in comparing results for Keanu Reeve's current page relative to last edit for year 2015 (specifically, https://en.wikipedia.org/w/ind

[2020-03-05 00:24] #148 closed

[2020-03-05 00:36] siznax commented on #149
Thanks for trying wptools @atnjqt! styled `wptools`, not to be confused with `WPTool` which is something else entirely.

Getting an older version of a page seems perfectly reasonable.

[2020-03-05 01:09] siznax commented on #149
Thanks for trying wptools @atnjqt!

Note that the name is styled `wptools` not to be confused with `WPTool` which is something else entirely. 😁

Getting an older version of a page seems perfectly reasonable, but I'm not sure the MediaWiki API supports it. I know you can get revision _information_ with the [API:Revisions](https://www.mediawiki.org/wiki/API:Revisions), but to the best of my knowledg

[2020-03-05 01:17] siznax commented on #149
Thanks for trying wptools @atnjqt!

Note that the name is styled `wptools` not to be confused with `WPTool` which is something else entirely. 😁

Getting an older version of a page seems perfectly reasonable, but I'm not sure the MediaWiki API supports it. I know you can get revision _information_ with the [API:Revisions](https://www.mediawiki.org/wiki/API:Revisions), but to the best of my knowledg

[2020-04-09 16:24] narayana1043 commented on #111
@rexdouglass can you please share your code to parse the infoboxes, i would like learn how you parsed form the infoxes

[2020-04-09 23:36] siznax commented on #111
I believe he used https://github.com/earwig/mwparserfromhell as noted above.

[2020-04-11 04:33] narayana1043 commented on #111
@siznax that gives the infoboxes. we still need to turn them into json that are returned by the api.

result after using mwparserfromhell

`{{Infobox medical condition (new)
| name            = Autism
| image           = Autism-stacking-cans 2nd edit.jpg
| alt             = Boy stacking cans
| caption         = Repetitively stacking or lining up objects is commonly associated with autism.
| field

[2020-04-12 13:11] ukanuk commented on #147
See #44 which isn't linked to a pull request, but likely the initial impetus for changing the library.

[2020-04-13 02:28] ukanuk opened #151 "Python 3.9 Deprecation Warning: 'encoding'"
After running through the readme and installing via `pip install wptools`, running `get_parse()` raises a deprecation warning that`'encoding'` is ignored and deprecated and will be removed.

I'm running Python 3.8.2 32-bit on Win 10 v1909.

[code]

[2020-04-15 20:29] siznax commented on #151
Thank you for noting this @ukanuk. Will add to next milestone.

[2020-04-20 23:59] shouhulantian commented on #143
I am in China and I met the same problem. Wikipedia is blocked in China so I used VPN. At first, I wrote  `fela = wptools.page('Fela Kuti').get_parse(proxy='http://127.0.0.1:1080')` but the same error appeared. After careful examination, I found `self._set_data(action)` in core.py caused this problem. This function does not pass "proxy" to afterward function but later `self._get('imageinfo', show,

[2020-05-08 09:37] uriva commented on #147
+1 this is causing a real headache with docker files (jupyter, kubernetes etc').

[2020-05-08 09:39] uriva opened #152 "asyncio support"
Slightly related to https://github.com/siznax/wptools/issues/147, but thought it deserves its own issue.

[2020-05-08 19:50] siznax commented on #152
Thanks @uriva Could be nice, but please see #141

[2020-05-16 01:37] siznax commented on #111
@narayana1043 maybe Parsoid is what you're looking for? See https://github.com/siznax/wptools/wiki/Parsoid

[2020-05-26 18:58] boompig opened #153 "do not print results from get_parse to stderr"
Currently `get_parse` always outputs results to stderr. Is there a way to run this function silently? This is especially annoying when crawling or running in Jupyter notebook.

[2020-05-26 19:20] boompig opened #154 "possible to resolve macros in infobox?"
When running

[code]

many fields include the Wikipedia macros used to generate those values. This can be useful, but it also means re-implementing the Wikipedia macros. Is there any way to have these resolved in the output?

Here is an example:

[code]

output:

[code]

So for example for the `birth_date` the return value is a macro that requires the user to parse it.

[2020-05-26 21:58] siznax commented on #154
Thanks for trying wptools @boompig!

Great idea! We'll have to find some API point that can do that, and we'll incorporate it.

[2020-05-26 22:02] siznax commented on #153
Yes, try `page = wptools.page(silent=True)`, as mentioned in our [Usage](https://github.com/siznax/wptools/wiki/Usage) wiki page.

[2020-05-27 14:29] boompig commented on #153
thanks for the quick response. consider making this the default?

[2020-05-27 18:53] siznax commented on #153
Hmm. That might be a good idea. Anyone else have a preference? (thinking about it)

[2020-06-23 02:50] siznax opened #155 "Thank You for 300 stars 49 Forks and 206 repos using wptools ❣️"
Hello Friends,

I would like to humbly thank all of the people who have found this package. I am grateful for your patience, helpful suggestions, and bug finding skills!

I must give special thanks to Sean (@lisongx) whose early suggestions helped make the tool much more useful to more people. Hand on heart, Sean—thank you.

I have recently found myself with a bit more free time, so I should be ab

[2020-06-26 11:26] uriva commented on #152
I don't see how this is related, asyncio can help you make parallel requests to two websites, or do cpu intensive work while waiting for io.

[2020-06-26 18:17] siznax commented on #152
@uriva You are welcome to submit a PR for this. We'll be interested in ensuring we do not our users and this package's user-agent do not get banned.

Alternatively, you are welcome to run this package in parallel in your own programs. Why don't you try that first, and see if it is something that may help to have incorporated in this package.

Good luck!

[2020-06-26 20:40] lisongx commented on #155
Hey Steve,

Congratulation! Feel so happy to witness the project grow into this stage today. It saved me loads of time dealing with Wikipedia & Wikidata (I'm sure many of us would feel this way), so big thanks to you.

And thanks for your very kind word! It's definitely my pleasure to have contributed to this project even in a very small way. Really good to hear you have more free time to work on

[2020-06-28 09:26] uriva commented on #152
My scenario is that I have an IO rich code doing many requests to different rest apis. The entire process is highly time sensitive, so the requests must happen in parallel. The architecture is the code is such that the requests are not coming from a single function but from various places. This means I can't rely on threading/multiprocessing (that would require a global thread pool which is awkwar

[2020-10-16 02:38] filipebafica opened #156 "Unicode Enconde Error"
I get the error below when I run `wptools.page('Gandhi').get_parse()`:

`UnicodeEncodeError: 'ascii' codec can't encode character '\xe1' in position 17: ordinal not in range(128)`

[2020-11-15 19:38] matkoniecz opened #157 "build error according to the readme badge"
https://github.com/siznax/wptools#wikipedia-tools-for-humans

[2020-11-16 23:01] siznax commented on #156
This must have been temporary. Cannot reproduce.

[2020-11-16 23:01] #156 closed

[2020-11-16 23:04] siznax commented on #157
Thanks for the issue, @matkoniecz. This is probably a `pycurl` compatability issue. This depends on #147

[2020-11-16 23:05] siznax commented on #147
Planning to add `urllib3` as alternative/replacement for `pycurl`

[2020-12-07 15:00] kreiche opened #158 "Recurring API error message"
Hi.

I am loving using wptools, but I am having trouble catching errors. I have been able to stop the Lookup Errors in my compiler, but an "API error" continually pops up every time a search in Wikipedia does not exist (even though I catch the error in my compiler). Attached is a screenshot of my code. Thank you.
<img width="1019" alt="Screen Shot 2020-12-07 at 10 00 22 AM" src="https://user-image

[2020-12-07 19:58] kreiche commented on #128
That exception works great except there is still an API error printed. Is there a way to catch that in an exception? I attached a screenshot of your code from above. (My import line is in a different cell)
<img width="1015" alt="Screen Shot 2020-12-07 at 2 57 29 PM" src="https://user-images.githubusercontent.com/75626966/101398732-89a0c300-389c-11eb-80b6-3997cf3b045d.png">

[2020-12-31 01:16] applieddesign commented on #155
Steve and/or Sean:

Stepping back into wptools for a new project after a few months (and upgrading to Big Sur on Mac).  **wptools** is a really great lib thanks, but I have evidently now run into "the pycurl problem".  Any ETA or estimate of difficulty re: fixing this on the Mac?  Would be happy to offer compensation if that might change where the fix sits in your stack of priorities.

Cheers,
Tim

[2020-12-31 20:03] siznax commented on #155
Thanks for your interest @applieddesign, and for your offer! Issue #147 is attached to release v0.5, which I just put an ETA of Jan 31 2021. I'm in the process of moving, and should be settled by 15 Jan. The new release will offer `urllib3` as an alternative to `pycurl` by default.

https://github.com/siznax/wptools/milestone/9

[2021-01-07 16:40] tima-chan opened #159 "Install Issue Linux Mint LMDE4"
I tried to install the library using _**pip install wptools**_
But it gives me this error: _**Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-install-4cAaeI/pycurl/**_

the full terminal result:
[code]
Any help?

[2021-01-09 14:16] InzamamAnwar opened #160 "Addition properties"
Hi,

Is there any way to get additional properties from wikidata. For example for a company we can have names of subsidiaries using the package. But wikidata also provides information like start time and end time. Is there any way to get this additional properties/information using the pakcage

![image](https://user-images.githubusercontent.com/24841602/104093864-c64e4880-52a6-11eb-91f2-d9f528fc16

[2021-01-11 04:53] Nathan1123 commented on #147
Maybe it is just my machine, but I am finding that wptools as it currently is (using PyCurl) is incredibly slower than trying to manually using requests. Naturally I will use wptools, because all the parsing of wikitext has been a pain in the neck, but my script went from ~20 min long to an overnight run.

[2021-01-14 09:52] Simonsoto commented on #147
I had the same issue. I'm on a windows machine but using conda. You can install libcurl, pycurl with conda and the using pip to install wptools. Maybe adding this would help to guide others.

[2021-01-15 00:48] siznax opened #161 "pycurl issues and solutions"
I'll try to collect pycurl issues and solutions here as we encounter them. We plan to offer an alternative to `pycurl` soon as well.

[2021-01-18 04:33] arbalest339 opened #162 "Bad request when continuations query for zh.wikipedia"
Hello, I have a problem when query zh.wikipedia, here is my code and console output.
[code]
[code]

I've noticed that when the query of "西安" is finished, wptools continued to query "炮里街道", that is not what I needed. So I further read the source code and in the file page.py, line 640, it seems that wptools try to make more queries from the "continue"  field.

[Issue 57](https://github.com/siznax/wp

[2021-01-26 17:46] TsUNaMyWaVe commented on #153
While on the subject, is there a way for errors not to be printed as well, while using "silent=True"?
I'm searching for pages by name, and sometimes they don't exist. I handle it, but the error of not finding the page is still showing up.

[2021-01-26 18:03] siznax commented on #153
Yes @TsUNaMyWaVe, try catching the exception raised, probably `LookupError`. Something like this?

[code]

[2021-01-26 18:09] TsUNaMyWaVe commented on #153
@siznax thanks! I actually found a little bit cleaner solution:
`with contextlib.redirect_stderr(io.StringIO()):
                <your code>`

But I think adding this option as part of the tool could be a good improvement as well. By either adding it to the "silent" argument, or adding an additional argument for error printing.

[2021-01-26 20:36] siznax commented on #153
@TsUNaMyWaVe thanks for the suggestion. In the case of an error, redirecting to `stderr` seems appropriate. Still trying to decide if "silent by default" is best. Any opinion on that?

[2021-02-10 13:38] AmoghM commented on #152
@siznax I also realised the need for `asyncio` while extracting pages because function calls such as `page.get()` is very slow. It can definitely be useful to have the enhancement and put a warning on being getting the user-agent banned.

[2021-02-10 14:05] AmoghM commented on #91
I found that the infobox output for Hindi doesn't yield result in the same language.

The details mention for a page [here ](https://hi.wikipedia.org/wiki/%E0%A4%A8%E0%A4%BE%E0%A4%93%E0%A4%AE%E0%A5%80_%E0%A4%93%E0%A4%B8%E0%A4%BE%E0%A4%95%E0%A4%BE)in the infobox are in Hindi. However, when hitting it yields us the keys of the infobox dictionary in English.

[code]
[code]

[code]

[code]
It will be

[2021-02-13 18:06] applieddesign commented on #147
Any update on this milestone?

[2021-03-16 17:54] uriva commented on #147
Hey - did something initial that seems to work: https://github.com/uriva/wptools

[2021-03-29 00:06] JiyaoWei opened #164 "How to get the entity's "instance of" item?"
How to get the entity's "instance of" item?
for example, Barack Obama is human's instance.

[2021-04-06 02:04] SXU-CICI opened #165 "ImportError: pycurl:"
import wptools
  File "/usr/local/anaconda3/lib/python3.7/site-packages/wptools/__init__.py", line 23, in <module>
    from . import core
  File "/usr/local/anaconda3/lib/python3.7/site-packages/wptools/core.py", line 14, in <module>
    from . import request
  File "/usr/local/anaconda3/lib/python3.7/site-packages/wptools/request.py", line 17, in <module>
    import pycurl
ImportError: pycurl: li

[2021-05-17 09:39] aschimmenti opened #166 "get_wikidata for arrays?"
Hello,
I'm really enjoying using wptools for scraping wikidata, is there a conditional to keep the e.g. for loop going even if an individual query gives Lookup Error? Thank you in advance

[2021-05-17 13:43] aschimmenti commented on #166
Solved with try...except LookupError

[2021-05-17 13:44] #166 closed

[2021-05-17 19:14] siznax commented on #166
Thank you @aschimmenti. That's the pythonic way to approach it. Nice work.

[2021-06-27 15:51] dvershinin commented on #165
Fresh install in virtualenv on OS X and got:

I would really suggest to replace with `requests` as it's better available... fewer issues with it.

[2021-06-27 19:52] siznax commented on #165
As discussed previously, `urllib3` is a better option. But if you want a requests branch, then please submit a PR! 😸

[2021-06-27 19:52] #165 closed

[2021-07-04 21:37] bergercookie opened #167 "Warnings even when silent=True"
Hi there,

Thanks for this excellent tool!
I'm getting warning messages on `get_parse` even when `silent=True`.

[code]

[2022-02-05 19:28] Nathan1123 opened #169 "Talk pages do not show up in wptools.category"
Hello,

I apologize if this has already been brought up, but I found nothing when searching for this problem.

If I enter the following code, I get this result:
[code]
The results comes back empty, but [https://en.wikipedia.org/wiki/Category:Stub-Class_Outlines_articles](url) actually has eight pages listed in it. As it turns out, wptools.category skips over anything not in the main namespace.

If

[2022-02-12 22:17] #159 closed

[2022-02-17 22:14] matthewgehring commented on #159
Having the same issues on windows 10

[2022-05-24 17:54] abishekmuthian opened #172 "Getting Template:Infobox nutritional value"
Greetings developers and contributors.

I'm trying to retrieve Nutritional value infobox from the pages were it's present, It belongs to the [Template:Infobox nutritional value](https://en.wikipedia.org/wiki/Template:Infobox_nutritional_value).

e.g. https://en.wikipedia.org/wiki/Fenugreek#Nutritional_profile

But the infobox dict has just the first infobox and the items within it,

[code]

[2022-05-25 04:40] siznax commented on #164
Hi @JiyaoWei. Thanks for opening this issue. We put the value of the 'instance of (P31)' label in the "what" data item...

[code]

[2022-05-25 04:40] #164 closed

[2022-08-15 22:58] bnina-ayoub opened #173 "KeyError: 'info' with ".get()""
Each time i run page.get() i get this error, but when i run .get_query() or any other attribute it works fine.

![Error Wptools](https://user-images.githubusercontent.com/94785911/184734847-f0e9a3bd-f58a-46a5-a031-600b3d812837.png)

[2022-08-16 02:14] siznax commented on #173
Thanks for opening this issue @bnina-ayoub. I'm seeing this too. There has probably been a small change made to one of the Wikimedia APIs. We should handle KeyError here.

[2022-09-10 16:20] AmrAlBarqawy opened #174 "I face an error while trying to install wptools using pip"
Here is the error I get
 -------
Collecting wptools
  Using cached wptools-0.4.17-py2.py3-none-any.whl (38 kB)
Requirement already satisfied: lxml in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from wptools) (4.9.1)
Collecting html2text
  Using cached html2text-2020.1.16-py3-none-any.whl (32 kB)
Collecting pycurl
  Using cached pycurl-7.45.1.tar.gz (233 kB)
  Preparing

[2022-09-15 17:01] appledora commented on #174
same. any explanations?

[2022-09-17 13:16] appledora commented on #174
Went through older issues and found reference [here](https://github.com/siznax/wptools/pull/168#issuecomment-890487065) . Works for me this way. Issue was with `pycurl` removal since last year.

[2022-09-28 11:08] sl2902 commented on #167
Thanks for this package. I just wanted to check whether there's a fix provided for this yet or not?

[2022-10-08 06:36] appledora opened #175 "Error trying to get Entity even when it exists in wikidata"
I was trying to get the info in entity 'Minas Gerais' like following:
[code]

The error gives me [this link](https://www.wikidata.org/w/api.php?action=wbgetentities&formatversion=2&languages=en&props=aliases|info|claims|descriptions|labels|sitelinks&redirects=yes&sites=enwiki&titles=Minas%20gerais) which tells that the item is missing.
However the item is actually present in wikidata pretty neatly